
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- I added this so that the page loads always from server rather than from cache-->
    @*<meta http-equiv=“Pragma” content=”no-cache”>
        <meta http-equiv=“Expires” content=”-1″>
        <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>*@
    <!-- my code ends here -->

    <title>@ViewBag.Title - ERA-BMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/dataTables")

    @* To disable arrows from Number input *@
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    <script>
        $(document).ready(function () {
            // This function traverses all "link" elements and checks two things
            //		1. If href of the "link" element is the page itself
            //		2. If the parent of the "link" element has class "menuitem"
            // If both condictions are fullfilled (i.e. the "link" is the current menu item), it adds it to "highlight" class
            //
            // To get the complete address of the current window, use "window.location.href":
            //      e.g. "https://localhost:44388/Admin/UserManagement?message=Error"
            //
            // To remove the query string:
            //  use: loc.protocol + "//" + loc.hostname.toLowerCase() + ":" + loc.port + loc.pathname;
            //      e.g. "https:" + "//" + "localhost" + ":" + "44388" + "/Admin/UserManagement"
            $("[href]").each(function () {
                //if (this.href.toLowerCase() == window.location.href.toLowerCase() && $(this).parent().hasClass("menuitem")) {
                var loc = window.location;
                var addr = loc.protocol + "//" + loc.hostname.toLowerCase() + ":" + loc.port + loc.pathname;
                
                if (this.href.toLowerCase() == addr.toLowerCase() && $(this).parent().hasClass("menuitem")) {
                    $(this).addClass("highlightitem"); // highlight currently selected menu item
                    //$(this).addClass("highlightmenu"); // highlight currently selected menu item
                    $(this).closest("li.dropdown-submenu").children("a").addClass("highlightsubmenu"); // highlight the dropdown-submenu of currently selected menu item
                    $(this).closest("li.mainmenu").children("a").addClass("highlightmenu"); // highlight the dropdown menu of currently selected menu item
                }
            });

            //If it home page, highlight the home menu
            if (document.location.pathname == "/") {
                var homeMenu = document.getElementById("home");
                homeMenu.classList.add("highlightmenu");
            }

            $(".dropdown-submenu").click(function () {
                $(".dropdown-menu").first.toggle();
            });

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body style="font-size:small" class="@ViewBag.MenuSelection">

    @Html.Partial("_MenuBar")

    <!-- Pages excluded from having ERA logo and heading -->
    @{
        List<string> noHeadingPages = new List<string>();

        // Adding pages to the no heading pages List
        noHeadingPages.Add("Home Page");
        noHeadingPages.Add("Log in");
        noHeadingPages.Add("Manage");
        noHeadingPages.Add("About");
        noHeadingPages.Add("Contact");
        noHeadingPages.Add("Change Password");
        noHeadingPages.Add("Create Password");
        noHeadingPages.Add("Create New User");
        noHeadingPages.Add("Bridge Book");
        noHeadingPages.Add("Annual Bridge Book");
        noHeadingPages.Add("Bridge Image Gallery");
    }

    @if (!noHeadingPages.Contains(ViewBag.Title))
    {
        <!-- Do NOT show ERA Heading on no heading pages-->

        List<string> headingPrintOnlyPages = new List<string>();

        // Adding pages to the heading print only List
        headingPrintOnlyPages.Add("Bridge Map");
        headingPrintOnlyPages.Add("Bridge Map by Segment");
        headingPrintOnlyPages.Add("Bridge Map by Sub Route");
        headingPrintOnlyPages.Add("Culvert Map");
        headingPrintOnlyPages.Add("Culvert Map by Segment");
        headingPrintOnlyPages.Add("Culvert Map by Sub Route");
        headingPrintOnlyPages.Add("Pile Foundation Bridges Map");
        headingPrintOnlyPages.Add("Abandoned Bridges Map");
        headingPrintOnlyPages.Add("Road Map");
        headingPrintOnlyPages.Add("Roads Map by Section");
        headingPrintOnlyPages.Add("Roads Map by District");

        string printOnly = "";

        // Add the 'printonly' id to heading print only pages
        if (headingPrintOnlyPages.Contains(ViewBag.Title))
        {
            printOnly = "printonly";
        }

        <div align="center" id="@printOnly">
            <img src="~/images/era_logo.png" alt="ERA logo" width="65" height="65" align="middle">
            <h4 align="center">
                Ethiopian Roads Administration - Bridge Management System <br />
                የኢትዮጵያ መንገዶች አስተዳደር - የድልድይ ሀብት አስተዳደር ሥርዓት
            </h4>
        </div>
    }

    @* Set the class of pages that should fill the entire page to 'container-fluid' *@
    @{
        List<string> fillPages = new List<string>();

        fillPages.Add("Bridge Book");
        fillPages.Add("Bridge Map");
        fillPages.Add("Bridge Map by Segment");
        fillPages.Add("Bridge Map by Sub Route");
        fillPages.Add("Culvert Map");
        fillPages.Add("Culvert Map by Segment");
        fillPages.Add("Culvert Map by Sub Route");
        fillPages.Add("Pile Foundation Bridges Map");
        fillPages.Add("Abandoned Bridges Map");
        fillPages.Add("Road Map");
        fillPages.Add("Roads Map by Section");
        fillPages.Add("Roads Map by District");

        string containerClass = "container body-content";

        if (fillPages.Contains(ViewBag.Title))
        {
            containerClass = "container-fluid body-content";
        }
    }

    <div class="@containerClass" id="main">
        @RenderBody()
        <hr />

        @* Do NOT show the footer on print out *@
        <footer style="text-align: center;" id="noprint">
            <p style="color:#ef5821; font-size:medium">&copy; @DateTime.Now.Year - Ethiopian Roads Administration - BMS. All rights reserved.</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/dataTables") @*my bundles*@
    @Scripts.Render("~/bundles/dataTables") @*my bundles*@
    @Styles.Render("~/Content/dropdownsubmenu") @*my bundles*@
    @*@Styles.Render("~/Content/leftmenu")*@ @*my bundles*@
    @Styles.Render("~/Content/css") @*my bundles*@
    @Styles.Render("~/Content/themes/base/css") @*my bundles*@
    @Scripts.Render("~/bundles/modernizr") @*my bundles*@
    @Styles.Render("~/Content/jqueryui") @*my bundles*@
    @Scripts.Render("~/bundles/jqueryui") @*my bundles*@
    @Scripts.Render("~/bundles/jeditable") @*my bundles*@
    @Scripts.Render("~/bundles/canvasjs") @*my bundles*@
    @Scripts.Render("~/bundles/chartjs") @*my bundles*@
    @Scripts.Render("~/bundles/unobtrusive-ajax") @*my bundles*@
    @Scripts.Render("~/bundles/Proj4js") @*my bundles*@

    @RenderSection("scripts", required: false)
</body>
</html>
