@model IEnumerable<ERA_BMS.Models.Segment>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title panel-info">List of Road Segments</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-responsive table-bordered display compact hover" id="segments">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RevisedRoadId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SegmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Length)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remark)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.SegmentId)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.RevisedRoadId)
                        </td>
                        <td>
                            @Html.ActionLink(@Html.DisplayFor(modelItem => item.SegmentName).ToString(), "Details", new { id = item.SegmentId })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Length)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                        <td align="center">
                            <!-- with Tooltips -->
                            <a href="@Url.Action("_GetRoadsMapBySegment", "BridgeLocation", new { id = item.SegmentId })" target="_blank" class="glyphicon glyphicon-map-marker" data-toggle="tooltip" title="Go to Road Segment Map" style="font-size: 14px"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <h3 class="panel-title">Total No. of Road Segments: <b>@Model.Count()</b></h3>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#segments').DataTable({
            paging: true,
            pageLength: 15,
            bLengthChange: true,
            scrollY: 400,
            scrollX: true,
            searching: true,
            select: true,
            dom: 'lBfrtip',
            //order: [[1, "asc"]], // order by Road Segment No (the 2nd column)
            buttons: [
                { extend: 'copy', className: 'btn btn-sm btn-primary' },
                { extend: 'excel', className: 'btn btn-sm btn-primary', text: 'Export Excel' },
                { extend: 'pdf', className: 'btn btn-sm btn-primary', text: 'Export PDF' },
                { extend: 'print', className: 'btn btn-sm btn-primary' }
            ]
        });
    });
</script>
