
@{
    ViewBag.Title = "Abandoned Bridges Map";
}
<style>
    .floating-panel {
        position: relative;
        z-index: 5;
        padding: 5px;
        text-align: center;
        line-height: 30px;
        padding-left: 10px;
    }
</style>

<h2>Abandoned Bridges Map</h2>

<div class="panel panel-primary title">
    <div class="panel-heading">
        <h3 class="panel-title panel-info" id="title">
            @{
                string abandonedBrg;
                if (@ViewBag.AbandonedBridge == null)
                {
                    abandonedBrg = "[bridge information missing or old bridge still active]";
                    <input type="hidden" id="txtAbandonedBridge" value="" />
                }
                else
                {
                    abandonedBrg = "[" + ViewBag.AbandonedBridge.BridgeNo + "] " + ViewBag.AbandonedBridge.BridgeName;
                    <input type="hidden" id="txtAbandonedBridge" value="@ViewBag.AbandonedBridge.BridgeNo" />
                }
            }

            Abandoned Bridge: <b>@abandonedBrg</b> <br />
            New Bridges:
            @foreach (var newBrg in ViewBag.NewBridges)
            {
                <span>
                    <b>@newBrg.BridgeNo</b> |
                </span>
            }
        </h3>
    </div>
    <div class="panel-body">
        <div id="divStatus" style="font-size:small; font-weight: bold; padding: 10px; display: none;">
            <label id="lblSelectedBridge" style="background-color: whitesmoke; float: right"></label>
            <br />
            <label id="lblNewCoordinates" style="background-color: whitesmoke; float: right "></label>
            <br />
            <!-- Only logged in users are allowed to update coordinates-->
            @if (User.Identity.IsAuthenticated)
            {
                <button type="button" id="btnUpdateCoordinate" onclick="UpdateCoordinate()"
                        style="background-color: white; border-color: whitesmoke; padding: 10px; float: right; display: none">
                    Update Coordinate
                </button>
                @*<br />
                <button type="button" id="btnSaveNewPosition" onclick="SaveNewPosition()"
                        style="background-color: white; border-color: whitesmoke; padding: 10px; float: right;">
                    Save New Position
                </button>*@
            }
        </div>

        <div id="Map" style="height: 600px; border: 1px solid #999;">
            <!-- Map displays here -->
        </div>
    </div>
</div>

<script>
    // Get abandoned and new bridges
    var bridgeLocList = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BridgeLocationList)));
    var abandonedBridgeNo = document.getElementById('txtAbandonedBridge').value;
    abandonedBridgeNo = (abandonedBridgeNo !== null) ? document.getElementById('txtAbandonedBridge').value : "";

    var map, selectedBridgeMarker, newmarker;
    var infowindow;
    var selectedBridge;
    var newXCoord, newYCoord, newUtmZone;

    $(document).ready(function () {
        // Go through all bridges till the first bridge which has complete coordinate info is found
        var j, centerBridge;
        for (j = 0; j < bridgeLocList.length; j++) {
            if (bridgeLocList[j].XCoord == null || bridgeLocList[j].YCoord == null || bridgeLocList[j].UtmZone == null)
                continue;

            // First bridge with complete coordinate is found. So take it as a center bridge
            centerBridge = bridgeLocList[j];
            break;
        }

        // If all bridges have no inventory or no coordinate info, then prompt error message and do not go to the map page
        if (centerBridge == null) {
            document.getElementById('Map').innerHTML = "<h3 style='padding-left: 20px'>Map cannot be displayed</h3>" +
                                                        "<h4 style='padding-left: 20px; color:red'>There are no bridges in the selected road segment or all bridges in the selected road segment have no or incomplete coordinate information.</h4>";
            return;
        }


        // Center the map to the first bridge which has complete coordinate info
        map = new google.maps.Map(document.getElementById('Map'), {
            zoom: 10,
            center: {
                lat: centerBridge.LatitudeDecimal,
                lng: centerBridge.LongitudeDecimal
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            draggableCursor: 'crosshair'
        });

        infowindow = new google.maps.InfoWindow();
        var marker, i, noofPins = 0;


        // Loop through all bridges in the list and place markers
        for (i = 0; i < bridgeLocList.length; i++) {
            // if currrent bridge has no or incomplete coordinate info, do not put pin and continue the loop to the next iteration
            if (bridgeLocList[i].XCoord == null || bridgeLocList[i].YCoord == null || bridgeLocList[i].UtmZone == null)
                continue;

            marker = new google.maps.Marker({
                position: new google.maps.LatLng(bridgeLocList[i].LatitudeDecimal, bridgeLocList[i].LongitudeDecimal),
                map: map,
                //draggable: true,
                icon: { url: '/images/bridge_map_marker_orange.png', scaledSize: new google.maps.Size(43, 50) },
            });

            // A gray marker for the Abndoned bridge
            if (bridgeLocList[i].BridgeNo == abandonedBridgeNo)
                marker.setIcon({ url: '/images/bridge_map_marker_abandoned.png', scaledSize: new google.maps.Size(43, 50) });
            
            // increment no. of pins
            noofPins++;

            // Can also use 'doubleclick', 'rightclick' or 'mouseover' instead of 'click'
            // If 'mouseover' is used, we need a corresponding 'mouseout' and use infowindow.close()
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    // Clicking on the image will open the image in another tab
                    // If image is missing, "Image Not Found" icon will be shown and the link to open the image will be disabled
                    contentString = "<h4 style='font-size: 20px'>Bridge Location Information</h4>" +
                        "<div style='float:left; padding: 5px 15px 5px 5px;'><a href='" + bridgeLocList[i].ImageFilePath + "' target='_blank'>" +
                        "<img src='" + bridgeLocList[i].ImageFilePath + "' onerror='this.parentNode.onclick=function() {return(false);}; this.onerror = null; this.src = \"/images/error_2.png\"; this.style.width = \"60px\"; this.title = \"Image Not Found\";' alt='Photo' width='160'></a>" +
                        "@if (User.Identity.IsAuthenticated) { <br /><br /><div><button onclick='ChangeZone()'>Move to Next Zone</button></div>}" +
                        "</div><div style='float:right'>" +
                        "<div>Old Bridge Id: <b>" + bridgeLocList[i].OldBridgeId + "</b></div>" +
                        "<div>Revised Bridge Id: <b>" + bridgeLocList[i].RevisedBridgeId + "</b></div>" +
                        "<div>Bridge Name: <b>" + bridgeLocList[i].BridgeName + "</b></div>" +
                        "<div>District: <b>" + bridgeLocList[i].District + "</b></div>" +
                        "<div>Segment: <b>" + bridgeLocList[i].Segment + "</b></div>" +
                        "<div>Length (m): <b>" + bridgeLocList[i].BridgeLength + "</b></div>" +
                        "<div>Bridge Type: <b>" + bridgeLocList[i].BridgeType + "</b></div>" +
                        "<div>X-Coordinate: <b>" + parseFloat(bridgeLocList[i].XCoord).toFixed(3) + "</b></div>" +
                        "<div>Y-Coordinate: <b>" + parseFloat(bridgeLocList[i].YCoord).toFixed(3) + "</b></div>" +
                        "<div>UTM Zone: <b>" + bridgeLocList[i].UtmZone + "</b></div>" +
                        "<div>Latitude: <b>" + parseFloat(bridgeLocList[i].LatitudeDecimal).toFixed(6) + "</b></div>" +
                        "<div>Longitude: <b>" + parseFloat(bridgeLocList[i].LongitudeDecimal).toFixed(6) + "</b></div>" +
                        //"<div>Latitude (DMS): <b>" + bridgeLocList[i].LatitudeDMS + "</b></div>" +
                        //"<div>Longitude (DMS): <b>" + bridgeLocList[i].LongitudeDMS + "</b></div>" +
                        @*"@if (User.Identity.IsAuthenticated) { <br /><div><a href='../../BridgeInventory/Index/" + bridgeLocList[i].BridgeId + "' target='_blank'>Go to Inventory</a></div>}" +*@
                        "</div>";

                    infowindow.setContent(contentString);
                    infowindow.open(map, marker);

                    selectedBridge = bridgeLocList[i];
                    document.getElementById('lblSelectedBridge').innerHTML = selectedBridge.BridgeNo + " - " + selectedBridge.BridgeName;
                    selectedBridgeMarker = marker;

                    // Show the 'Update Coordinate' button if new coordinate is already selected
                    if (document.getElementById('lblNewCoordinates').innerHTML != "")
                        document.getElementById('btnUpdateCoordinate').style.display = "";

                    ResetMarkerColors();

                    // Set selected marker color to Green
                    marker.setIcon({ url: '/images/bridge_map_marker_green.png', scaledSize: new google.maps.Size(43, 50) });
                }
            })(marker, i));

            google.maps.event.addListener(marker, 'drag', function (event) {
                document.getElementById('lblNewCoordinates').innerHTML = this.position.lat() + " " + this.position.lng();
                $.ajax({
                    url: '@Url.Action("ConvertToUTM", "BridgeLocation")',
                    data: { latitude: this.position.lat(), longitude: this.position.lng() },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        newXCoord = item.XCoordinate;
                        newYCoord = item.YCoordinate;
                        newUtmZone = item.UtmZone;

                        // remove the new marker
                        newmarker.setMap(null);
                        newmarker = null;
                        infowindow.close(); // close old infowindow if it is open
                    }
                });

            });

            bridgeLocList[i].marker = marker;
        }

        newmarker = null;
        var newinfowindow = new google.maps.InfoWindow({
            size: new google.maps.Size(150, 50)
        });

        // Gets a new marker to be placed where the user has clicked
        function GetNewMarker(latlng, contentString) {
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                icon: { url: '/images/map_marker_new.png', scaledSize: new google.maps.Size(60, 45) },
                zIndex: Math.round(latlng.lat() * -100000) << 5
            });

            //map.setCenter(location);

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
            });

            google.maps.event.trigger(marker, 'click');
            return marker;
        }

        google.maps.event.addListener(map, 'click', function () {
            newinfowindow.close();
        });

        google.maps.event.addListener(map, 'click', function (event) {
            var latLngObj = event.latLng.toJSON();
            var newContentString;

            // Convert UTM (x/y coordinate) to latitude/longitude
            $.ajax({
                url: '@Url.Action("ConvertToUTM", "BridgeLocation")',
                data: { latitude: latLngObj.lat, longitude: latLngObj.lng },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, item) {
                        newXCoord = item.XCoordinate;
                        newYCoord = item.YCoordinate;
                        newUtmZone = item.UtmZone;

                        newContentString = "Lat: <b>" + parseFloat(latLngObj.lat).toFixed(8) + "</b><br>" +
                                            "Long: <b>" + parseFloat(latLngObj.lng).toFixed(8) + "</b><br>" +
                                            "UTM Zone: <b>" + newUtmZone + "</b><br>" +
                                            "X: <b>" + parseFloat(newXCoord).toFixed(6) + "</b><br>" +
                                            "Y: <b>" + parseFloat(newYCoord).toFixed(6) + "</b>";

                        document.querySelector("#lblNewCoordinates").innerHTML =
                                            "[ x: " + parseFloat(newXCoord).toFixed(3) +
                                            ", y: " + parseFloat(newYCoord).toFixed(3) +
                                            ", zone: " + newUtmZone + " ]";

                        // Show the 'Update Coordinate' button if some bridge is already selected
                        if (document.getElementById('lblSelectedBridge').innerHTML != "")
                            document.getElementById('btnUpdateCoordinate').style.display = "";
                    });
                    if (newmarker) {
                        newmarker.setMap(null);
                        newmarker = null;
                    }
                    newmarker = GetNewMarker(event.latLng, newContentString);
                },
            });


        });


        // append no. of total bridges in the road segment vs no. of pins (i.e. bridges which have coordinate info)
        document.getElementById("title").insertAdjacentHTML("beforeend", " <br />No of Bridges: <b>" + noofPins + "</b>");

        // Put update controls inside the map
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(document.getElementById('divStatus'));
        document.getElementById('divStatus').style.display = "";
    });

    // Change all marker colors to Orange
    function ResetMarkerColors() {
        //for (let i = 0; i < markers.length; i++) {
        for (let i = 0; i < bridgeLocList.length; i++) {
            // A gray marker for the Abndoned bridge
            if (bridgeLocList[i].BridgeNo == abandonedBridgeNo)
                bridgeLocList[i].marker.setIcon({ url: '/images/bridge_map_marker_abandoned.png', scaledSize: new google.maps.Size(43, 50) });
            else
                bridgeLocList[i].marker.setIcon({ url: '/images/bridge_map_marker_orange.png', scaledSize: new google.maps.Size(43, 50) });
        }
    }

    function SaveNewPosition() {

    }

    function UpdateCoordinate() {
        // If some bridge is selected and a new coordinate place has been chosen by clicking on it
        if (document.querySelector("#lblSelectedBridge").innerHTML != "" && document.querySelector("#lblNewCoordinates").innerHTML != "") {
            // Save updated X-Y coordinate values into database through Ajax call
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateCoordinate", "BridgeLocation")',
                data: '{ BridgeId: "' + selectedBridge.BridgeId + '", XCoordinate: ' + newXCoord + ', YCoordinate: ' + newYCoord + ', UtmZone: ' + newUtmZone + ' }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                success: function (data) {
                    // Convert X-Y coordinates (UTM) to lat/lang coordinates
                    $.ajax({
                        url: '@Url.Action("ConvertToLatLang", "BridgeLocation")',
                        data: { xcoord: newXCoord, ycoord: newYCoord, longzone: newUtmZone, DMS: 0 },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (i, item) {
                                // Capture the lat/lang coordinate values of the updated coordinate values
                                var updatedlatDb = item.Latitude;
                                var updatedlongDb = item.Longitude;

                                // move marker to the updated coordinate postion
                                var newLatLng = new google.maps.LatLng(updatedlatDb, updatedlongDb);
                                selectedBridgeMarker.setPosition(newLatLng);

                                // remove the new marker
                                newmarker.setMap(null);
                                newmarker = null;
                                infowindow.close(); // close old infowindow if it is open

                                google.maps.event.addListener(selectedBridgeMarker, 'click', (function (selectedBridgeMarker, i) {
                                    return function () {
                                        // reconstruct a new content string and info window
                                        var contentString = "<h4 style='font-size: 20px'>Bridge Location Information</h4>" +
                                                        "<div style='float:left; padding: 5px 15px 5px 5px;'><a href='" + selectedBridge.ImageFilePath + "' target='_blank'>" +
                                                        "<img src='" + selectedBridge.ImageFilePath + "' onerror='this.parentNode.onclick=function() {return(false);}; this.onerror = null; this.src = \"/images/error_2.png\"; this.style.width = \"60px\"; this.title = \"Image Not Found\";' alt='Photo' width='160'></a>" +
                                                        "@if (User.Identity.IsAuthenticated) { <br /><br /><div><button onclick='ChangeZone()'>Move to Next Zone</button></div>}" +
                                                        "</div><div style='float:right'>" +
                                                        "<div>Old Bridge Id: <b>" + selectedBridge.OldBridgeId + "</b></div>" +
                                                        "<div>Revised Bridge Id: <b>" + selectedBridge.RevisedBridgeId + "</b></div>" +
                                                        "<div>Bridge Name: <b>" + selectedBridge.BridgeName + "</b></div>" +
                                                        "<div>District: <b>" + selectedBridge.District + "</b></div>" +
                                                        "<div>Segment: <b>" + selectedBridge.Segment + "</b></div>" +
                                                        "<div>Length (m): <b>" + selectedBridge.BridgeLength + "</b></div>" +
                                                        "<div>Bridge Type: <b>" + selectedBridge.BridgeType + "</b></div>" +
                                                        "<div>X-Coordinate: <b>" + parseFloat(newXCoord).toFixed(3) + "</b></div>" +
                                                        "<div>Y-Coordinate: <b>" + parseFloat(newYCoord).toFixed(3) + "</b></div>" +
                                                        "<div>UTM Zone: <b>" + newUtmZone + "</b></div>" +
                                                        "<div>Latitude: <b>" + parseFloat(updatedlatDb).toFixed(6) + "</b></div>" +
                                                        "<div>Longitude: <b>" + parseFloat(updatedlongDb).toFixed(6) + "</b></div>" +
                                                        //"<div>Latitude (DMS): <b>" + item.LatitudeDMS + "</b></div>" +
                                                        //"<div>Longitude (DMS): <b>" + item.LongitudeDMS + "</b></div>" +
                                                        @*"@if (User.Identity.IsAuthenticated) { <br /><div><a href='../../BridgeInventory/Index/" + selectedBridge.BridgeId + "' target='_blank'>Go to Inventory</a></div>}" +*@
                                                        "</div>";
                                        infowindow.setContent(contentString);
                                        infowindow.open(map, selectedBridgeMarker);
                                    }
                                })(selectedBridgeMarker, i));

                                // clear the new coordinate label and selected bridge label
                                document.querySelector("#lblNewCoordinates").innerHTML = "";
                                document.querySelector("#lblSelectedBridge").innerHTML = "";

                                // Hide the 'Update Coordinate' button
                                document.getElementById('btnUpdateCoordinate').style.display = "none";
                                ResetMarkerColors();
                            });
                        }
                    });
                },
                error: function (xhr) {
                    //alert("Coordinate NOT updated");
                }
            });
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE0qRfcQ0xxZq5mWSMOtxT3G_cWkHpBAA&callback=InitializeMap" async defer></script>