@model ERA_BCMS.Models.SpanSupportType

@{
    ViewBag.Title = "Span Support Type";
}

<h2>Details</h2>

<div>
    <h4>Span Support Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpanSupportTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpanSupportTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpanSupportTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpanSupportTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpanSupportTypeId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
