@model ERA_BMS.Models.CulvertType

@{
    ViewBag.Title = "Culvert Type Details";
}

<h2>Details</h2>

<div>
    <h4>Culvert Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CulvertTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CulvertTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CulvertTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CulvertTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CulvertTypeShortCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CulvertTypeShortCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.CulvertTypeId })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Go to List</a>
</p>
