
@{
    ViewBag.Title = "Bridge Priority by Highest Damage Rank";
}

<h2>Bridge Priority by <b>Highest Damage Rank</b></h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-body">

            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group">
                            <label class="control-label col-md-2">District</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ddlDistrict", new SelectList(ViewBag.Districts, "Value", "Text"), new { @class = "form-control" })
                                <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div> <!-- Add clearfix (or new line break) for only the sm -->
                                <button type="button" class="btn btn-primary glyphicon glyphicon-search" id="searchbydistrict" data-toggle="tooltip" title="Search by District"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group">
                            <label class="control-label col-md-2">Section</label>
                            <div class="col-md-8">
                                <select class="form-control" id="ddlSection">
                                    <!-- Sections list populates here -->
                                </select>
                                <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div> <!-- Add clearfix (or new line break) for only the sm -->
                                <button type="button" class="btn btn-primary glyphicon glyphicon-search" id="searchbysection" data-toggle="tooltip" title="Search by Section"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div> <!-- Add clearfix (or new line break) for xs only -->
                
                <div class="col-sm-4 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group">
                            <label class="control-label col-md-5 col-sm-6 col-xs-7">Inspection Year</label>
                            <div class="col-md-5 col-sm-7 col-xs-7">
                                @Html.DropDownList("ddlInspectionYear", (List<SelectListItem>)ViewBag.InspectionYear, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="prioritybyhighestdamagerankpartial">
        <!-- Bridges priority by intervention list displays here -->
    </div>
}

<div id="wait" align="center" style="display: none">
    <img src="~/images/ajax-loader-big.gif" />
</div>

<script>
    $(document).ready(function () {
        $('#ddlDistrict').change(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            $('#ddlSection option').remove(); //empty the section dropdown list
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#prioritybyhighestdamagerankpartial').empty(); //clear the bridge priority place holder

            if (selDistrictId != "0") //if some district is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetSections", "LocationsDDL")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Section --</option>';
                        $.each(data, function (i, section) {
                            markup += '<option value="' + section.Value + '">' + section.Text + '</option>'
                            $('#ddlSection').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSection').change(function () {
            var selSectionId = $('#ddlSection option:selected').val();
            var selInspectionYear = $('#ddlInspectionYear option:selected').val();
            $('#prioritybyhighestdamagerankpartial').empty(); //clear the bridge priority place holder

            if (selSectionId != "0") //if some section is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetBridgePriorityByHighestDamageRankBySection", "BridgePriority")',
                    data: { sectionid: selSectionId, inspectionyear: selInspectionYear },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#prioritybyhighestdamagerankpartial').html(data);
                    }
                });
            }

        });

        $('#searchbydistrict').click(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            var selInspectionYear = $('#ddlInspectionYear option:selected').val();

            $('#prioritybyhighestdamagerankpartial').empty(); //clear the bridge priority place holder

            if (selDistrictId == "0") { //if some "All District" is selected
                $.ajax({
                    url: '@Url.Action("_GetBridgePriorityByHighestDamageRankAll", "BridgePriority")',
                    data: { inspectionyear: selInspectionYear },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#prioritybyhighestdamagerankpartial').html(data);
                    }
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("_GetBridgePriorityByHighestDamageRankByDistrict", "BridgePriority")',
                    data: { districtid: selDistrictId, inspectionyear: selInspectionYear },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#prioritybyhighestdamagerankpartial').html(data);
                    }
                });
            }
        });

        $('#searchbysection').click(function () {
            var selSectionId = $('#ddlSection option:selected').val();
            if (selSectionId != "0" && typeof selSectionId != 'undefined') //if some section is selected
            {
                $('#ddlSection').trigger('change');
            }
        });

        $('#ddlInspectionYear').change(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            var selSectionId = $('#ddlSection option:selected').val();
            var selInspectionYear = $('#ddlInspectionYear option:selected').val();

            if (typeof selSectionId != 'undefined' && selSectionId != 0)
                $('#ddlSection').trigger('change');
            else
                $('#searchbydistrict').trigger('click');
        });
    });

</script>

