@model ERA_BMS.Models.Abutment

@{
    ViewBag.Title = "Abutment";
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table table-condensed">
            <tr>
                <td class="h5">
                    Abutment A1
                </td>
                <th></th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AbutmentType.AbutmentTypeName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AbutmentType.AbutmentTypeName)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AbutmentHeightA1)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AbutmentHeightA1)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AbutmentWidthA1)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AbutmentWidthA1)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.FoundationType.FoundationTypeName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.FoundationType.FoundationTypeName)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WingWallLengthA1)
                </td>

                <th>
                    @Html.DisplayFor(model => model.WingWallLengthA1)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.FoundationSizeA1)
                </td>

                <th>
                    @Html.DisplayFor(model => model.FoundationSizeA1)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.NoOfAbutmentPilesA1)
                </td>

                <th>
                    @Html.DisplayFor(model => model.NoOfAbutmentPilesA1)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AbutmentPileDepthA1)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AbutmentPileDepthA1)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SoilType.SoilTypeName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.SoilType.SoilTypeName)
                </th>
            </tr>
        </table>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table table-condensed">
            <tr>
                <td class="h5">
                    Abutment A2
                </td>
                <th></th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AbutmentType1.AbutmentTypeName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AbutmentType1.AbutmentTypeName)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AbutmentHeightA2)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AbutmentHeightA2)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AbutmentWidthA2)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AbutmentWidthA2)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.FoundationType1.FoundationTypeName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.FoundationType1.FoundationTypeName)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WingWallLengthA2)
                </td>

                <th>
                    @Html.DisplayFor(model => model.WingWallLengthA2)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.FoundationSizeA2)
                </td>

                <th>
                    @Html.DisplayFor(model => model.FoundationSizeA2)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.NoOfAbutmentPilesA2)
                </td>

                <th>
                    @Html.DisplayFor(model => model.NoOfAbutmentPilesA2)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AbutmentPileDepthA2)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AbutmentPileDepthA2)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SoilType1.SoilTypeName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.SoilType1.SoilTypeName)
                </th>
            </tr>

            <tr>
                <td>
                    <br />
                </td>

                <th>
                    <br />
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.NoOfpier)
                </td>

                <th>
                    @Html.DisplayFor(model => model.NoOfpier)
                </th>
            </tr>
        </table>
    </div>
</div>