@model ERA_BCMS.Models.BridgeGeneralInfo

@{
    ViewBag.Title = "BridgeGeneralInfo";
}

<div>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.BridgeLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotBridgeLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotBridgeLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiverWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiverWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentWaterLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentWaterLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighestWaterLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighestWaterLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyTraffic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyTraffic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstructionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeforeYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeforeYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafetySign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetySign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detour)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Bridge.BridgeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bridge.BridgeName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.RoadAlignmentType.RoadAlignmentTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadAlignmentType.RoadAlignmentTypeName)
        </dd>

    </dl>
</div>