@model ERA_BMS.Models.BridgeGeneralInfo

@{
    ViewBag.Title = "Bridge General Info";
}


<div class="row">
    <div class="col-xs-6">
        <table class="table table-condensed">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BridgeLength)
                </td>

                <th>
                    @Html.DisplayFor(model => model.BridgeLength)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BridgeWidth)
                </td>

                <th>
                    @Html.DisplayFor(model => model.BridgeWidth)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RiverWidth)
                </td>

                <th>
                    @Html.DisplayFor(model => model.RiverWidth)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PresentWaterLevel)
                </td>

                <th>
                    @Html.DisplayFor(model => model.PresentWaterLevel)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.HighestWaterLevel)
                </td>

                <th>
                    @Html.DisplayFor(model => model.HighestWaterLevel)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DesignCapacity)
                </td>

                <th>
                    @Html.DisplayFor(model => model.DesignCapacity)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BearingCapacity)
                </td>

                <th>
                    @*@Html.DisplayFor(model => model.BearingCapacity)*@
                    @{
                        string deisgnCapacity = ((bool)Model.BearingCapacity) ? "Yes" : "No";
                    }
                    @deisgnCapacity
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Bridge.Segment.AverageDailyTraffic)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Bridge.Segment.AverageDailyTraffic)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Topography)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Topography)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Altitude)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Altitude)
                </th>
            </tr>
        </table>
    </div>

    <div class="col-xs-6">
        <table class="table table-condensed">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ConstructionYear)
                </td>

                <th>
                    @Html.DisplayFor(model => model.ConstructionYear)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ReplacedYear)
                </td>

                <th>
                    @Html.DisplayFor(model => model.ReplacedYear)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Before1935)
                </td>

                <th>
                    @*@Html.DisplayFor(model => model.Before1935)*@
                    @{
                        string before1935 = ((bool)Model.Before1935) ? "Yes" : "No";
                    }
                    @before1935
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Contractor)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Contractor)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Designer)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Designer)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ConstructionCost)
                </td>

                <th>
                    @Html.DisplayFor(model => model.ConstructionCost)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AssetReplacementCost)
                </td>

                <th>
                    @Html.DisplayFor(model => model.AssetReplacementCost)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SafetySign)
                </td>

                <th>
                    @*@Html.DisplayFor(model => model.SafetySign)*@
                    @{
                        string safetysign = ((bool)Model.SafetySign) ? "Yes" : "No";
                    }
                    @safetysign
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DetourPossible)
                </td>

                <th>
                    @*@Html.DisplayFor(model => model.DetourPossible)*@
                    @{
                        string detourpossible = ((bool)Model.DetourPossible) ? "Yes" : "No";
                    }
                    @detourpossible
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RoadAlignmentType.RoadAlignmentTypeName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.RoadAlignmentType.RoadAlignmentTypeName)
                </th>
            </tr>
        </table>
    </div>

    <div class="col-xs-12">
        <table class="table table-condensed">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Remark)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Remark)
                </th>
            </tr>
        </table>
    </div>
</div>
