@model ERA_BMS.Models.Bridge

@{
    ViewBag.Title = "Bridge Location";
}

<table class="table table-condensed">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.BridgeNo)
        </td>

        <th>
            @Html.DisplayFor(model => model.BridgeNo)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.RevisedBridgeNo)
        </td>

        <th>
            @Html.DisplayFor(model => model.RevisedBridgeNo)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.BridgeName)
        </td>

        <th>
            @Html.DisplayFor(model => model.BridgeName)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.BridgeGeneralInfo.KMFromAddis)
        </td>

        <th>
            @Html.DisplayFor(model => model.BridgeGeneralInfo.KMFromAddis)
        </th>
    </tr>
    <tr>

        <td>
            Latitude
        </td>

        <th>
            @Html.DisplayFor(model => model.BridgeGeneralInfo.LatitudeDMS)
        </th>
    </tr>
    <tr>
        <td>
            Longitude
        </td>
        <th>
            @Html.DisplayFor(model => model.BridgeGeneralInfo.LongitudeDMS)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SubRoute.MainRoute.MainRouteName)
        </td>

        <th>
            [@Html.DisplayFor(model => model.SubRoute.MainRoute.MainRouteNo)]
            @Html.DisplayFor(model => model.SubRoute.MainRoute.MainRouteName)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SubRoute.SubRouteName)
        </td>

        <th>
            [@Html.DisplayFor(model => model.SubRoute.SubRouteNo)]
            @Html.DisplayFor(model => model.SubRoute.SubRouteName)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Segment.SegmentName)
        </td>

        <th>
            [@Html.DisplayFor(model => model.Segment.SegmentNo)]
            @Html.DisplayFor(model => model.Segment.SegmentName)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Segment.Section.SectionName)
        </td>

        <th>
            [@Html.DisplayFor(model => model.Segment.Section.SectionNo)]
            @Html.DisplayFor(model => model.Segment.Section.SectionName)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Segment.Section.District.DistrictName)
        </td>

        <th>
            @Html.DisplayFor(model => model.Segment.Section.District.DistrictName)
        </th>
    </tr>
</table>
