@model ERA_BMS.Models.SuperStructure

@{
    ViewBag.Title = "SuperStructure";
}


<table class="table table-condensed">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NoOfSpan)
        </td>

        <th>
            @Html.DisplayFor(model => model.NoOfSpan)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SpanLengthComposition)
        </td>

        <th>
            @Html.DisplayFor(model => model.SpanLengthComposition)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.TotalSpanLength)
        </td>

        <th>
            @Html.DisplayFor(model => model.TotalSpanLength)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CarriageWayWidth)
        </td>

        <th>
            @Html.DisplayFor(model => model.CarriageWayWidth)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SideWalkWidth)
        </td>

        <th>
            @Html.DisplayFor(model => model.SideWalkWidth)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NoOfLane)
        </td>

        <th>
            @Html.DisplayFor(model => model.NoOfLane)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SlabThickness)
        </td>

        <th>
            @Html.DisplayFor(model => model.SlabThickness)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.GirderType.GirderTypeName)
        </td>

        <th>
            @Html.DisplayFor(model => model.GirderType.GirderTypeName)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NoOfGirder)
        </td>

        <th>
            @Html.DisplayFor(model => model.NoOfGirder)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.GirderDepth)
        </td>

        <th>
            @Html.DisplayFor(model => model.GirderDepth)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SpacingGirder)
        </td>

        <th>
            @Html.DisplayFor(model => model.SpacingGirder)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.GirderBoxWidth)
        </td>

        <th>
            @Html.DisplayFor(model => model.GirderBoxWidth)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.BridgeType.BridgeTypeName)
        </td>

        <th>
            @Html.DisplayFor(model => model.BridgeType.BridgeTypeName)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.DeckSlabType.DeckSlabTypeName)
        </td>

        <th>
            @Html.DisplayFor(model => model.DeckSlabType.DeckSlabTypeName)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SpanSupportType.SpanSupportTypeName)
        </td>

        <th>
            @Html.DisplayFor(model => model.SpanSupportType.SpanSupportTypeName)
        </th>
    </tr>
</table>
    