@model ERA_BMS.Models.District

@{
    ViewBag.Title = "District Details";
}

<h2>District Details</h2>

<div class="row">
    <hr />
    <dl class="dl-horizontal col-md-4 col-xs-6">
        <dt>
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictNo)
        </dd>
    </dl>

    <dl class="dl-horizontal col-md-4 col-xs-6">
        <dt>
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new {area = "Admin", id = Model.DistrictId }, new { @class = "btn btn-primary" })
    <a href="@Url.Action("Index")" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Go to Districts List</a>
</p>
