@model ERA_BMS.Models.Section

@{
    ViewBag.Title = "Section Details";
}

<h2>Section Details</h2>

<div class="row">
    <hr />
    <dl class="dl-horizontal col-md-4 col-xs-6">
        <dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>
    </dl>

    <dl class="dl-horizontal col-md-4 col-xs-6">
        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new {area = "Admin", id = Model.SectionId })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit Section</a>
    <a href="@Url.Action("Index", new {area = "Admin", id = ViewBag.DistrictId })" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Go to Sections List</a>
</p>
