@model IEnumerable<ERA_BMS.Models.Culvert>

@{
    ViewBag.Title = "Culvert List";
}

<h2>Culvert List</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        @*<div class="panel-heading">
                <h3 class="panel-title panel-info">Please select <b>District</b>, <b>Section</b> and <b>Road Segment</b> from the dropdown list</h3>
            </div>*@
        <div class="panel-body">

            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group">
                            <label class="control-label col-md-2">District</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ddlDistrict", new SelectList(ViewBag.Districts, "Value", "Text"), new { @class = "form-control" })
                                <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div> <!-- Add clearfix (or new line break) for only the sm -->
                                <button type="button" class="btn btn-primary glyphicon glyphicon-search search" id="searchbydistrict" data-toggle="tooltip" title="Search by District"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group">
                            <label class="control-label col-md-2">Section</label>
                            <div class="col-md-8">
                                <select class="form-control" id="ddlSection">
                                    <!-- Sections list populates here -->
                                </select>
                                <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div> <!-- Add clearfix (or new line break) for only the sm -->
                                <button type="button" class="btn btn-primary glyphicon glyphicon-search" id="searchbysection" data-toggle="tooltip" title="Search by Section"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div> <!-- Add clearfix (or new line break) for only the xs -->

                <div class="col-sm-4 col-xs-12">
                    <div class="form-horizontal">
                        <div class="form-group form-group">
                            <label class="control-label col-md-2 col-sm-6 col-xs-6">Road Segment</label>
                            <div class="clearfix visible-xs"></div> <!-- Add clearfix (or new line break) for only the xs -->
                            <div class="col-md-8 col-sm-12 col-xs-6">
                                <select class="form-control" id="ddlSegment">
                                    <!-- Segments list populates here -->
                                </select>
                                <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div> <!-- Add clearfix (or new line break) for only the sm -->
                                <button type="button" class="btn btn-primary glyphicon glyphicon-search" id="searchbysegment" data-toggle="tooltip" title="Search by Road Segment"></button>
                            </div>
                            <div class="col-sm-12 col-xs-6" align="right">
                                <a href="@Url.Action("CulvertListByRoute", "Culverts")" class="btn btn-primary" id="bymainroute" data-toggle="tooltip" title="Bridge List by Route"><span class="glyphicon glyphicon-new-window"></span> By Main Route</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="culvertsPartial">
        <!-- Culverts list displays here -->
    </div>
}

<div id="wait" align="center" style="display: none">
    <img src="~/images/ajax-loader-big.gif" />
</div>

<script>
    $(document).ready(function () {
        $('#ddlDistrict').change(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            $('#ddlSection option').remove(); //empty the section dropdown list
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#culvertsPartial').empty(); // clear the culvert place holder

            if (selDistrictId != "0") //if some district is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetSections", "LocationsDDL")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Section --</option>';
                        $.each(data, function (i, section) {
                            markup += '<option value="' + section.Value + '">' + section.Text + '</option>'
                            $('#ddlSection').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSection').change(function () {
            var selSectionId = $('#ddlSection option:selected').val();
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#culvertsPartial').empty(); // clear the culverts place holder

            if (selSectionId != "0") //if some section is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetSegments", "LocationsDDL")',
                    data: { sectionid: selSectionId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Segment --</option>';
                        $.each(data, function (i, segment) {
                            markup += '<option value="' + segment.Value + '">' + segment.Text + '</option>'
                            $('#ddlSegment').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSegment').change(function () {
            var selSegmentId = $('#ddlSegment option:selected').val();
            $('#culvertsPartial').empty(); //clear the culverts place holder


            if (selSegmentId != "0") //if some section is selected
            {
               $.ajax({
                    url: '@Url.Action("_GetCulvertListBySegment", "Culverts")',
                    data: { segmentid: selSegmentId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#culvertsPartial').html(data);
                    }
                });
            }
        });

        $('#searchbydistrict').click(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            $('#culvertsPartial').empty(); // clear the culverts place holder

            if (selDistrictId != "0") { //if some district is selected
                $.ajax({
                    url: '@Url.Action("_GetCulvertListByDistrict", "Culverts")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#culvertsPartial').html(data);
                    }
                });
            }
        });

        $('#searchbysection').click(function () {
            var selSectionId = $('#ddlSection option:selected').val();
            if (selSectionId != "0" && typeof selSectionId != 'undefined') //if some section is selected
            {
                $('#culvertsPartial').empty(); // clear the culverts place holder

                $.ajax({
                    url: '@Url.Action("_GetCulvertListBySection", "Culverts")',
                    data: { sectionid: selSectionId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#culvertsPartial').html(data);
                    }
                });
            }
        });

        $('#searchbysegment').click(function () {
            var selSegmentId = $('#ddlSegment option:selected').val();
            if (selSegmentId != "0" && typeof selSegmentId != 'undefined') //if some segment is selected
            {
                $('#ddlSegment').trigger('change');
            }
        });
    });

</script>