@model ERA_BMS.Models.Culvert

<div>
    @if (ViewBag.Success)
    {
        <h3>Are you sure you want to delete this culvert?</h3>
        <h4 class="text-danger">(All of its inventory and inspection data will also be deleted and the process can not be reversed!!)</h4>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <table class="table table-condensed">
                        <tr>
                            <td>Revised Culvert Id</td>
                            <th>@Model.RevisedCulvertNo</th>
                        </tr>

                        <tr>
                            <td>Segment</td>
                            <th>[@Model.Segment.RevisedRoadId] @Model.Segment.SegmentName</th>
                        </tr>

                        <tr>
                            <td>Section</td>
                            <th>[@Model.Segment.Section.SectionNo] @Model.Segment.Section.SectionName</th>
                        </tr>

                        <tr>
                            <td>District</td>
                            <th>[@Model.Segment.Section.District.DistrictNo] @Model.Segment.Section.District.DistrictName</th>
                        </tr>

                        <tr>
                            <td>Main Route</td>
                            <th>[@Model.SubRoute.MainRoute.MainRouteNo] @Model.SubRoute.MainRoute.MainRouteName</th>
                        </tr>

                        <tr>
                            <td>Sub Route</td>
                            <th>[@Model.SubRoute.SubRouteNo] @Model.SubRoute.SubRouteName</th>
                        </tr>
                    </table>
                </div>

                @if (!ViewBag.NoInventory)
                {
                    <div class="col-sm-4 col-xs-6">
                        <table class="table table-condensed">
                            <tr>
                                <td>Distance from AA (Km)</td>
                                <th>@Model.CulvertGeneralInfo.KMFromAddis</th>
                            </tr>
                            <tr>
                                <td>Coordinates (Lat/Lon)</td>
                                <th>@Model.CulvertGeneralInfo.LatitudeDMS <br /> @Model.CulvertGeneralInfo.LongitudeDMS</th>
                            </tr>
                            <tr>
                                <td>Culvert Length</td>
                                <th>@Model.CulvertStructure.LengthTotal</th>
                            </tr>
                            <tr>
                                <td>Culvert Type</td>
                                <th>@Model.CulvertStructure.CulvertType.CulvertTypeName</th>
                            </tr>
                            <tr>
                                <td>Construction Year</td>
                                <th>@Model.CulvertGeneralInfo.ConstructionYear</th>
                            </tr>
                        </table>
                    </div>

                    <div class="clearfix visible-xs"></div> <!-- Add clearfix (or new line break) for only the xs -->

                    <div class="col-sm-4 col-xs-8">
                        <table class="table table-condensed">
                            <tr>
                                <td>Designer / Consultant</td>
                                <th>@Model.CulvertGeneralInfo.Designer</th>
                            </tr>
                            <tr>
                                <td>Contractor</td>
                                <th>@Model.CulvertGeneralInfo.Contractor</th>
                            </tr>

                            <tr>
                                <td>Road Width (m)</td>
                                <th>@Model.CulvertGeneralInfo.RoadWidth</th>
                            </tr>
                            <tr>
                                <td>ADT</td>
                                <th>@Model.Segment.AverageDailyTraffic</th>
                            </tr>
                            <tr>
                                <td>No. of Lanes</td>
                                <th>@Model.CulvertGeneralInfo.NoOfLanes</th>
                            </tr>
                            <tr>
                                <td>Replacement Cost, ETB</td>
                                @if (Model.CulvertGeneralInfo.AssetReplacementCost != null)
                                {
                                    <th>@Model.CulvertGeneralInfo.AssetReplacementCost.Value.ToString("#,0.00")</th>
                                }
                                else
                                {
                                    <th></th>
                                }
                            </tr>
                        </table>
                    </div>
                }
                else
                {
                    <h5 class="col-sm-8 col-xs-6">
                        No or incomplete inventory data for culvert: <br /><br />
                        <b>@Model.CulvertNo</b>
                    </h5>
                }
            </div>
        </div>

        <div class="form-actions no-color">
            @*<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-warning-sign"></span> Delete</button>*@
            <a href="@Url.Action("DeleteConfirmed", new { culvertid = Model.CulvertId })" class="btn btn-danger"><span class="glyphicon glyphicon-warning-sign"></span> Delete</a>
            <a href="@Url.Action("DeleteCulvert")" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
        </div>
    }
    else
    {
        <div class="text-danger">
            <h4><b>Culvert not found!</b></h4>
        </div>
    }
</div>
