@model ERA_BMS.Models.Culvert

@{
    ViewBag.Title = "Culvert Details";
}

<h2>Culvert Details</h2>

<div class="row">
    <div class="col-xs-6">
        <table class="table">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CulvertId)
                </td>

                <th>
                    @Html.DisplayFor(model => model.CulvertId)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CulvertNo)
                </td>

                <th>
                    @Html.DisplayFor(model => model.CulvertNo)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RevisedCulvertNo)
                </td>

                <th>
                    @Html.DisplayFor(model => model.RevisedCulvertNo)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SubRoute.MainRoute.MainRouteName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.SubRoute.MainRoute.MainRouteName)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SubRoute.SubRouteName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.SubRoute.SubRouteName)
                </th>
            </tr>
        </table>
    </div>

    <div class="col-xs-6">
        <table class="table">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Segment.Section.District.DistrictName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Segment.Section.District.DistrictName)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Segment.Section.SectionName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Segment.Section.SectionName)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Segment.SegmentName)
                </td>

                <th>
                    @Html.DisplayFor(model => model.Segment.SegmentName)
                </th>
            </tr>
        </table>
    </div>
</div>

<p>
    @*Show Edit button for admin only*@
    @if (User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Edit", new { id = Model.CulvertId })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit Culvert</a>
    }
    <a href="@Url.Action("New", new { id = Model.SegmentId })" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Register New Culvert</a>
    <a href="@Url.Action("Index", new { id = Model.SegmentId })" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Go to Culvert List</a>
    <a href="@Url.Action("Index", "CulvertInventory", new { id = Model.CulvertId })" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-new-window"></span> Go to Inventory</a>
</p>
