@model ERA_BMS.Models.Culvert

@{
    ViewBag.Title = "Edit Culvert";
}

<h2>Edit Culvert</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(model => model.CulvertId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CulvertId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.CulvertId, "You cannot modify this value", new { style = "color: red" })
                    </div>
                </div>

                <div class="form-group form-group-sm required">
                    @Html.LabelFor(model => model.CulvertNo, htmlAttributes: new { @class = "control-label col-md-3", @style = "color: red; " })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CulvertNo, new { htmlAttributes = new { @class = "form-control", @style = "border: 2px solid red; " } })
                        @Html.ValidationMessageFor(model => model.CulvertNo, "** Be careful when changing this value!", new { style = "color: red" })
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    @Html.LabelFor(model => model.RevisedCulvertNo, htmlAttributes: new { @class = "control-label col-md-3", @style = "color: red; " })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.RevisedCulvertNo, new { htmlAttributes = new { @class = "form-control", @style = "border: 2px solid red; " } })
                        @Html.ValidationMessageFor(model => model.RevisedCulvertNo, "** Be careful when changing this value!", new { style = "color: red" })
                    </div>
                </div>

                <div class="form-group form-group-sm required">
                    <label class="control-label col-md-3">District</label>
                    <div class="col-md-8">
                        @Html.DropDownList("DistrictId", new SelectList(ViewBag.Districts, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                        @*@Html.ValidationMessageFor("District", "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group form-group-sm required">
                    <label class="control-label col-md-3">Section</label>
                    <div class="col-md-8">
                        @Html.DropDownList("SectionId", new SelectList(ViewBag.Sections, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                        @*@Html.DropDownList("SectionId", null, htmlAttributes: new { @class = "form-control" })*@
                        @*@Html.ValidationMessageFor("Section", "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group form-group-sm required">
                    @Html.LabelFor(model => model.SegmentId, null, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("SegmentId", new SelectList(ViewBag.Segments, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SegmentId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 required">
                <div class="form-group form-group-sm required">
                    <label class="control-label col-md-3">Main Route</label>
                    <div class="col-md-8">
                        @Html.DropDownList("MainRouteId", new SelectList(ViewBag.MainRoutes, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group form-group-sm required">
                    @Html.LabelFor(model => model.SubRouteId, null, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("SubRouteId", new SelectList(ViewBag.SubRoutes, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubRouteId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <div class="col-md-offset-2 col-md-8">
                <button type="submit" class="btn btn-primary" id="save"><span class="glyphicon glyphicon-save"></span> Save</button>
                <button type="reset" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
                <div id="status" class="text-danger">
                    <!-- Save failure status text appears here-->
                </div>
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index", new { id = ViewBag.SegmentId })" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Go to Culverts</a>
    <a href="@Url.Action("Index", "CulvertInventory", new { id = Model.CulvertId })" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-new-window"></span> Go to Inventory</a>
</div>

<script>
    $(document).ready(function () {
        $('#DistrictId').change(function () {
            var selDistrictId = $('#DistrictId option:selected').val();
            $('#SectionId option').remove(); //empty the section dropdown list
            $('#SegmentId option').remove(); //empty the segment dropdown list
            if (selDistrictId != "0") //if some district is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetSections", "LocationsDDL")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Section --</option>';
                        $.each(data, function (i, section) {
                            markup += '<option value="' + section.Value + '">' + section.Text + '</option>'
                            $('#SectionId').html(markup);
                        });
                    }
                });
            }
        });

        $('#SectionId').change(function () {
            var selSectionId = $('#SectionId option:selected').val();
            $('#SegmentId option').remove(); //empty the segment dropdown list
            if (selSectionId != "0") //if some section is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetSegments", "LocationsDDL")',
                    data: { sectionid: selSectionId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Segment --</option>';
                        $.each(data, function (i, segment) {
                            markup += '<option value="' + segment.Value + '">' + segment.Text + '</option>'
                            $('#SegmentId').html(markup);
                        });
                    }
                });
            }
        });

        $('#MainRouteId').change(function () {
            var selMainRouteId = $('#MainRouteId option:selected').val();
            $('#SubRouteId option').remove(); //empty the sub route dropdown list
        
            if (selMainRouteId != "0") //if some main route is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetSubRoutes", "LocationsDDL")',
                    data: { mainrouteid: selMainRouteId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Subroute --</option>';
                        $.each(data, function (i, subroute) {
                            markup += '<option value="' + subroute.Value + '">' + subroute.Text + '</option>'
                            $('#SubRouteId').html(markup);
                        });
                    }
                });
            }
        });

        $('#save').click(function () {
            var selSegmentId = $('#SegmentId').val();
            var selSubRouteId = $('#SubRouteId').val();

            // if no road segment or sub route is selected, cancel submission and show error status
            if (selSegmentId == 0 || selSubRouteId == 0
                || (typeof selSegmentId == 'undefined') || (typeof selSubRouteId == 'undefined')
                || selSegmentId == null || selSubRouteId == null) {
                $('#status').text("Please enter/select all boxes marked with *")
                return false;
            }
        });
    });
</script>
