@model IEnumerable<ERA_BCMS.Models.Culvert>

@{
    ViewBag.Title = "Culverts";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New Culvert", "New", null, new { @class = "btn btn-primary" })
</p>

@section Scripts{
    @Styles.Render("~/Content/dataTables")
    @Scripts.Render("~/bundles/dataTables")
    
    <script>
        $(document).ready(function () {
            $('#allBridges').dataTable({
                paging: true,
                scrollY: 400,
                select: true,
                dom: 'Bfrtip',
                buttons: ['copy', 'excel', 'pdf', 'print']
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-info">Please select <b>District</b>, <b>Section</b> and <b>Segment</b> from the dropdown list</h3>
        </div>
        <div class="panel-body">

            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-md-2">District</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ddlDistrict", (List<SelectListItem>)ViewBag.Districts, new { @class = "form-control" })
                                <label class="control-label" id="distrIdDIV"> <!-- District id appears here --> </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-md-2">Section</label>
                            <div class="col-md-8">
                                <select class="form-control" id="ddlSection">
                                    <!-- Sections list populates here -->
                                </select>
                                <label class="control-label" id="secIdDIV"> <!-- Section id appears here --> </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-md-2">Segment</label>
                            <div class="col-md-8">
                                <select class="form-control" id="ddlSegment">
                                    <!-- Segments list populates here -->
                                </select>
                                <label class="control-label" id="segIdDIV"> <!-- Segment id appears here --> </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="culvertsPartial">
            <!-- Culverts list displays here -->
        </div>
    </div>
}

<div id="temp">

</div>
<div id="status">

</div>

<script>
    $(document).ready(function () {
        $('#ddlDistrict').change(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            $('#ddlSection option').remove(); //empty the section dropdown list
            $('#secIdDIV').text(""); //clear section no. indicator
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#segIdDIV').text(""); //clear segment no. indicator
            $('#culvertsPartial').empty(); // clear the culvert place holder
            if (selDistrictId == "0") //if no district is selected
            {
                $('#distrIdDIV').text(""); //clear district no. indicator
            }
            else {
                $('#distrIdDIV').text("District Id = " + selDistrictId );
                $.ajax({
                    url: '@Url.Action("_GetSections", "Culverts")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Section --</option>';
                        $.each(data, function (i, section) {
                            markup += '<option value="' + section.Value + '">' + section.Text + '</option>'
                            $('#ddlSection').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSection').change(function () {
            var selSectionId = $('#ddlSection option:selected').val();
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#segIdDIV').text(""); //clear segment no. indicator
            $('#culvertsPartial').empty(); // clear the culverts place holder

            if (selSectionId == "0") //if no section is selected
            {
                $('#secIdDIV').text(""); //clear section no. indicator
            }
            else {
                $('#secIdDIV').text("Section Id = " + selSectionId);

                $.ajax({
                    url: '@Url.Action("_GetSegments", "Culverts")',
                    data: { sectionid: selSectionId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Section --</option>';
                        $.each(data, function (i, segment) {
                            markup += '<option value="' + segment.Value + '">' + segment.Text + '</option>'
                            $('#ddlSegment').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSegment').change(function () {
            var selSegmentId = $('#ddlSegment option:selected').val();
            if (selSegmentId == "0") //if no section is selected
            {
                $('#culvertsPartial').empty(); //clear the culverts place holder
                $('#SegIdDIV').text("");
            }
            else {
                $('#segIdDIV').text("Segment Id = " + selSegmentId);
                $.ajax({
                    url: '@Url.Action("_GetCulverts", "Culverts")',
                    data: { segmentid: selSegmentId },
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        $('#culvertsPartial').html(data);
                    }
                });
            }
        });
    });

</script>