@model ERA_BCMS.Models.Segment

@{
    ViewBag.Title = "Segment Details";
}

<h2>Details</h2>

<div>
    <h4>Segment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SegmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegmentName)
        </dd>

        <dt>
            District @*Label for district*@
        </dt>

        <dd>
            @ViewBag.DistrictName @*Dispalys district name*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SegmentId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
