@model ERA_BMS.Models.BridgeLength

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "NewBridgeLengthRangeForm", onsubmit = "return ValidateDataEntry()" }))
{
    <hr />
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <h2 align="center">New Structure Length Range</h2>
            <hr />
            <div class="col-lg-5 col-sm-6 col-xs-10">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*Holds a unique Bridge (Structure) Length id*@
                @Html.HiddenFor(model => model.BridgeLengthId)

                <div class="form-group form-group-sm required">
                    @Html.LabelFor(model => model.BridgeLengthName, htmlAttributes: new { @class = "control-label col-sm-6 col-xs-4" })
                    <div class="col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.BridgeLengthName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BridgeLengthName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group form-group-sm required">
                    @Html.LabelFor(model => model.FromLength, htmlAttributes: new { @class = "control-label col-sm-6 col-xs-4" })
                    <div class="col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.FromLength, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FromLength, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group form-group-sm required">
                    @Html.LabelFor(model => model.ToLength, htmlAttributes: new { @class = "control-label col-sm-6 col-xs-4" })
                    <div class="col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.ToLength, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ToLength, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6 col-xs-10">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-sm-6 col-xs-4" })
                    <div class="col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-md-offset-3 col-md-8 col-xs-10 col-sm-12 col-xs-10">
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <button type = "submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type = "reset" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type = "button" id="cancel" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Cancel</button>
                </div>
                <div class="col-sm-7 col-xs-10">
                    <div id = "validationStatus" class="success">
                        <!-- Validation status text appears here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        // Assign a bridge (structure) length range id which is the next sequence in the bridge (structure) length table
        $.ajax({
            url: '@Url.Action("LastBridgeLengthRangeId", "BridgeLengthRanges")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    $('#BridgeLengthId').val(item.BridgeLengthId); // set the bridge (structure) length range id
                });
            },
        });

        function ValidateDataEntry() {
            if ($('#BridgeLengthName').val() == "" || $('#FromLength').val() == "" || $('#ToLength').val() == "")
                return false;

            return true;
        }

        $('form').on('submit', function (e) {
            // validation code here
            if (!ValidateDataEntry()) {
                e.preventDefault();
                if ($('#validationStatus').hasClass("text-success"))
                    $('#validationStatus').removeClass("text-success");
                $('#validationStatus').addClass("text-danger");
                $('#validationStatus').text("Please enter all boxes marked with *");
            }
            else {
                if ($('#validationStatus').hasClass("text-danger"))
                    $('#validationStatus').removeClass("text-danger");
                $('#validationStatus').addClass("text-success");$('#validationStatus').text("Saving...");
            }

        });

        $("#cancel").on("click", function () {
            window.location.href = "/Admin/BridgeLengthRanges";
        });
    });
</script>