
@{
    ViewBag.Title = "Bridge Improvement History";
}

<h2>Bridge Improvement History</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        @*<div class="panel-heading">
            <h3 class="panel-title panel-info">Please select <b>Improvement Type</b> and <b>Improvement Year</b> from the dropdown list</h3>
        </div>*@
        <div class="panel-body">

            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-lg-2 col-md-2">District</label>
                            <div class="col-lg-12 col-md-12">
                                @Html.DropDownList("ddlDistrict", new SelectList(ViewBag.Districts, "Value", "Text"), new { @class = "form-control" })
                                <!--<label class="control-label col-lg-6 col-md-8" id="distrIdDIV">--> <!-- District id appears here --> <!--</label>-->
                                <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div> <!-- Add clearfix (or new line break) for only the sm -->
                                <button type="button" class="btn btn-primary glyphicon glyphicon-search" id="searchbydistrict" data-toggle="tooltip" title="Search by District"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-lg-2 col-md-2">Section</label>
                            <div class="col-lg-12 col-md-12">
                                <select class="form-control" id="ddlSection">
                                    <!-- Sections list populates here -->
                                </select>
                                <!--<label class="control-label col-lg-7 col-md-9" id="secIdDIV">--> <!-- Section id appears here --> <!--</label>-->
                                <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div> <!-- Add clearfix (or new line break) for only the sm -->
                                <button type="button" class="btn btn-primary glyphicon glyphicon-search" id="searchbysection" data-toggle="tooltip" title="Search by Section"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="clearfix visible-xs"></div>--> <!-- Add clearfix (or new line break) for only the xs -->

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-lg-5 col-md-6 col-sm-6 col-xs-8">Road Segment</label>
                            <!--<div class="clearfix visible-xs"></div>--> <!-- Add clearfix (or new line break) for only the xs -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <select class="form-control" id="ddlSegment">
                                    <!-- Segments list populates here -->
                                </select>
                                <!--<label class="control-label" id="segIdDIV">--> <!-- Segment id appears here --> <!--</label>-->
                            </div>
                        </div>
                    </div>
                </div>
            @*</div>

            <div class="row">*@
                <div class="col-md-3 col-sm-7 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label for="ddlImprovementType" class="control-label col-lg-6 col-md-7 col-sm-4 col-xs-8">Improvement Type</label>
                            <div class="col-lg-12 col-md-12 col-sm-7 col-xs-12">
                                @Html.DropDownList("ddlImprovementType", (List<SelectListItem>)ViewBag.ImprovementTypeSelectList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                
                @*<div class="col-md-5 col-sm-4 col-xs-8">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-md-5 col-sm-6 col-xs-6">Inspection Year</label>
                            <div class="col-md-5 col-sm-6 col-xs-4">
                                @Html.DropDownList("ddlImprovementYear", (List<SelectListItem>)ViewBag.ImprovementYearSelectList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>*@
                <div>
                    <div class="col-md-1 col-sm-2 col-md-push-0 col-sm-push-0 col-xs-push-10 navbar-right">
                        <a class="btn btn-primary" data-toggle="tooltip" title="Refresh" id="refresh"> <span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bridgeImprovementHistoryPartial">
        <!-- Bridge improvement history display here -->
    </div>
}

<div id="wait" align="center" style="display: none">
    <img src="~/images/ajax-loader-big.gif" />
</div>

<script>
    $(document).ready(function () {
        // e.g. yearRange = "2006 - 2010"
        function getYears(yearRange) {
            var startYear = yearRange.substring(0, 4);
            var endYear = yearRange.substring(7, 11);
            return [startYear, endYear];
        }

        $('#ddlDistrict').change(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            $('#ddlSection option').remove(); //empty the section dropdown list
            $('#secIdDIV').text(""); //clear section no. indicator
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#segIdDIV').text(""); //clear segment no. indicator
            $('#bridgeImprovementHistoryPartial').empty(); // clear the bridge condition place holder
            if (selDistrictId == "0") //if no district is selected
            {
                $('#distrIdDIV').text(""); //clear district no. indicator
            }
            else {
                $('#distrIdDIV').text("District No. = " + selDistrictId );
                $.ajax({
                    url: '@Url.Action("_GetSections", "LocationsDDL")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Section --</option>';
                        $.each(data, function (i, section) {
                            markup += '<option value="' + section.Value + '">' + section.Text + '</option>'
                            $('#ddlSection').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSection').change(function () {
            var selSectionId = $('#ddlSection option:selected').val();
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#segIdDIV').text(""); //clear segment no. indicator
            $('#bridgeImprovementHistoryPartial').empty(); // clear the bridge condition place holder

            if (selSectionId == "0") //if no section is selected
            {
                $('#secIdDIV').text(""); //clear section no. indicator
            }
            else {
                $('#secIdDIV').text("Section No. = " + selSectionId);

                $.ajax({
                    url: '@Url.Action("_GetSegments", "LocationsDDL")',
                    data: { sectionid: selSectionId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Segment --</option>';
                        $.each(data, function (i, segment) {
                            markup += '<option value="' + segment.Value + '">' + segment.Text + '</option>'
                            $('#ddlSegment').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSegment').change(function () {
            var selSegmentId = $('#ddlSegment option:selected').val();
            var selImprovementTypeId = $('#ddlImprovementType option:selected').val();
            
            $('#bridgeImprovementHistoryPartial').empty(); //clear the bridge condition place holder
            $('#SegIdDIV').text("");

            if (selSegmentId != "0") //if some segment is selected
            {
                $('#segIdDIV').text("Road Id = " + selSegmentId);
                $.ajax({
                    url: '@Url.Action("_GetBridgeImprovementHistoryBySegment", "BridgeImprovement")',
                    data: { segmentid: selSegmentId, improvementtypeid: selImprovementTypeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#bridgeImprovementHistoryPartial').html(data);
                    }
                });
            }
        });

        $('#searchbydistrict').click(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            var selImprovementTypeId = $('#ddlImprovementType option:selected').val();
            
            if (selDistrictId == "0") { // ALL district is selected
                $('#bridgeImprovementHistoryPartial').empty(); // clear the bridges place holder

                $.ajax({
                    url: '@Url.Action("_GetBridgeImprovementHistoryAll", "BridgeImprovement")',
                    data: { improvementtypeid: selImprovementTypeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#bridgeImprovementHistoryPartial').html(data);
                    }
                });
            }
            else {
                $('#bridgeImprovementHistoryPartial').empty(); // clear the bridges place holder

                $.ajax({
                    url: '@Url.Action("_GetBridgeImprovementHistoryByDistrict", "BridgeImprovement")',
                    data: { districtid: selDistrictId, improvementtypeid: selImprovementTypeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#bridgeImprovementHistoryPartial').html(data);
                    }
                });
            }
        });

        $('#searchbysection').click(function () {
            var selSectionId = $('#ddlSection option:selected').val();
            var selImprovementTypeId = $('#ddlImprovementType option:selected').val();
            
            if (selSectionId != "0") //if some section is selected
            {
                $('#bridgeImprovementHistoryPartial').empty(); // clear the bridges place holder

                $.ajax({
                    url: '@Url.Action("_GetBridgeImprovementHistoryBySection", "BridgeImprovement")',
                    data: { sectionid: selSectionId, improvementtypeid: selImprovementTypeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#bridgeImprovementHistoryPartial').html(data);
                    }
                });
            }
        });

        function SelectedLevel() {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            var selSectionId = $('#ddlSection option:selected').val();
            var selSegmentId = $('#ddlSegment option:selected').val();

            if (typeof selSegmentId != 'undefined' && selSegmentId != "0")
                return "Segment";
            else {
                if (typeof selSectionId != 'undefined' && selSectionId != "0")
                    return "Section";
                else {
                    if (typeof selDistrictId != 'undefined')
                        if (selDistrictId == "0")
                            return "All";
                        else
                            return "District";
                    else
                        return "none";
                }
            }


        }

        function ShowImprovementHistory() {
            var selLevel = SelectedLevel();
            switch (selLevel) {
                case "All":
                    $('#searchbydistrict').trigger('click');
                    break;

                case "District":
                    $('#searchbydistrict').trigger('click');
                    break;

                case "Section":
                    $('#searchbysection').trigger('click');
                    break;

                case "Segment":
                    $('#ddlSegment').trigger('change');
                    break;
            }
        }

        $('#ddlImprovementType').change(function () {
            ShowImprovementHistory();
        });

        $('#refresh').click(function () {
            ShowImprovementHistory();
        });

        $('#ddlImprovementYear').change(function () {
            ShowImprovementHistory();
        });
    });

</script>
