@model ERA_BCMS.Models.RoadAlignmentType

@{
    ViewBag.Title = "Road Alignment Details";
}

<h2>Details</h2>

<div>
    <h4>Road Alignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoadAlignmentTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadAlignmentTypeId)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.RoadAlignmentTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadAlignmentTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoadAlignmentTypeId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
