@model ERA_BMS.Models.Bridge

<div>
    @if (ViewBag.Success)
    {
        <h3>Are you sure you want to delete this bridge?</h3>
        <h4 class="text-danger">(All of its inventory and inspection data will also be deleted and the process can not be reversed!!)</h4>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <table class="table table-condensed">
                        <tr>
                            <td>Revised Bridge Id</td>
                            <th>@Model.RevisedBridgeNo</th>
                        </tr>

                        <tr>
                            <td>Bridge Name</td>
                            <th>@Model.BridgeName</th>
                        </tr>

                        <tr>
                            <td>Segment</td>
                            <th>[@Model.Segment.RevisedRoadId] @Model.Segment.SegmentName</th>
                        </tr>

                        <tr>
                            <td>Section</td>
                            <th>[@Model.Segment.Section.SectionNo] @Model.Segment.Section.SectionName</th>
                        </tr>

                        <tr>
                            <td>District</td>
                            <th>[@Model.Segment.Section.District.DistrictNo] @Model.Segment.Section.District.DistrictName</th>
                        </tr>

                        <tr>
                            <td>Main Route</td>
                            <th>[@Model.SubRoute.MainRoute.MainRouteNo] @Model.SubRoute.MainRoute.MainRouteName</th>
                        </tr>

                        <tr>
                            <td>Sub Route</td>
                            <th>[@Model.SubRoute.SubRouteNo] @Model.SubRoute.SubRouteName</th>
                        </tr>
                    </table>
                </div>

                @if (!ViewBag.NoInventory)
                {
                    <div class="col-sm-4 col-xs-6">
                        <table class="table table-condensed">
                            <tr>
                                <td>Distance from AA (Km)</td>
                                <th>@Model.BridgeGeneralInfo.KMFromAddis</th>
                            </tr>
                            <tr>
                                <td>Coordinates (Lat/Lon)</td>
                                <th>@Model.BridgeGeneralInfo.LatitudeDMS <br /> @Model.BridgeGeneralInfo.LongitudeDMS</th>
                            </tr>
                            <tr>
                                <td>Bridge Length (m)</td>
                                <th>@Model.SuperStructure.TotalSpanLength</th>
                            </tr>
                            <tr>
                                <td>Bridge Type</td>
                                <th>@Model.SuperStructure.BridgeType.BridgeTypeName</th>
                            </tr>
                            <tr>
                                <td>No. of Span</td>
                                <th>@Model.SuperStructure.NoOfSpan</th>
                            </tr>
                            <tr>
                                <td>Girder Type</td>
                                <th>@Model.SuperStructure.GirderType.GirderTypeName</th>
                            </tr>
                            <tr>
                                <td>Road Alignment</td>
                                <th>@Model.BridgeGeneralInfo.RoadAlignmentType.RoadAlignmentTypeName</th>
                            </tr>
                        </table>
                    </div>

                    <div class="clearfix visible-xs"></div> <!-- Add clearfix (or new line break) for only the xs -->

                    <div class="col-sm-4 col-xs-8">
                        <table class="table table-condensed">
                            <tr>
                                <td>Construction Year</td>
                                <th>@Model.BridgeGeneralInfo.ConstructionYear</th>
                            </tr>
                            <tr>
                                <td>Designer / Consultant</td>
                                <th>@Model.BridgeGeneralInfo.Designer</th>
                            </tr>
                            <tr>
                                <td>Contractor</td>
                                <th>@Model.BridgeGeneralInfo.Contractor</th>
                            </tr>

                            <tr>
                                <td>Design Capacity (Ton)</td>
                                <th>@Model.BridgeGeneralInfo.DesignCapacity</th>
                            </tr>
                            <tr>
                                <td>Bearing Capacity</td>
                                <th>
                                    @{
                                        string deisgnCapacity = ((bool)Model.BridgeGeneralInfo.BearingCapacity) ? "Yes" : "No";
                                    }
                                    @deisgnCapacity
                                </th>
                            </tr>
                            <tr>
                                <td>ADT</td>
                                <th>@Model.Segment.AverageDailyTraffic</th>
                            </tr>
                            <tr>
                                <td>Original Cost, ETB</td>
                                @if (Model.BridgeGeneralInfo.ConstructionCost != null)
                                {
                                    <th>@Model.BridgeGeneralInfo.ConstructionCost.Value.ToString("#,0.00")</th>
                                }
                                else
                                {
                                    <th></th>
                                }
                            </tr>
                            <tr>
                                <td>Replacement Cost, ETB</td>
                                @if (Model.BridgeGeneralInfo.AssetReplacementCost != null)
                                {
                                    <th>@Model.BridgeGeneralInfo.AssetReplacementCost.Value.ToString("#,0.00")</th>
                                }
                                else
                                {
                                    <th></th>
                                }
                            </tr>
                        </table>
                    </div>
                }
                else
                {
                    <h5 class="col-sm-8 col-xs-6">
                        No or incomplete inventory data for bridge: <br /><br />
                        <b>@Model.BridgeName (@Model.BridgeNo)</b>
                    </h5>
                }
            </div>
        </div>

        <div class="form-actions no-color">
            @*<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-warning-sign"></span> Delete</button>*@
            <a href="@Url.Action("DeleteConfirmed", new { bridgeid = Model.BridgeId })" class="btn btn-danger"><span class="glyphicon glyphicon-warning-sign"></span> Delete</a>
            <a href="@Url.Action("DeleteBridge")" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
        </div>
    }
    else
    {
        <div class="text-danger">
            <h4><b>Bridge not found!</b></h4>
        </div>
    }
</div>
