@model ERA_BCMS.Models.Abutment

@{
    ViewBag.Title = "Abutment";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AbutmentHeightA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbutmentHeightA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbutmentHeightA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbutmentHeightA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbutmentWidthA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbutmentWidthA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbutmentWidthA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbutmentWidthA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WingWallLengthA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WingWallLengthA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WingWallLengthA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WingWallLengthA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundationSizeA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationSizeA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundationSizeA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationSizeA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfAbutmentPilesA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfAbutmentPilesA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfAbutmentPilesA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfAbutmentPilesA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbutmentPileDepthA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbutmentPileDepthA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbutmentPileDepthA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbutmentPileDepthA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoilType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoilType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoilType2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoilType2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfpier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfpier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbutmentType.AbutmentTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbutmentType.AbutmentTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbutmentType1.AbutmentTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbutmentType1.AbutmentTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bridge.BridgeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bridge.BridgeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundationType.FoundationTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationType.FoundationTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundationType1.FoundationTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationType1.FoundationTypeName)
        </dd>

    </dl>
</div>