@model ERA_BMS.ViewModels.BridgeViewModel

@{
    ViewBag.Title = "Bridge Inventory";
}

<h2>Bridge Inventory</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        @*<div class="panel-heading">
                <h3 class="panel-title panel-info">Please select <b>District</b>, <b>Section</b>, <b>Road Segment</b> and <b>Bridge</b> from the dropdown list</h3>
            </div>*@
        <div class="panel-body">

            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-lg-2 col-md-3 col-sm-4">District</label>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                @*@Html.DropDownList("ddlDistrict", (List<SelectListItem>)ViewBag.Districts, new { @class = "form-control" })*@
                                @Html.DropDownList("ddlDistrict", new SelectList(ViewBag.Districts, "Value", "Text", ViewBag.DistrictId), htmlAttributes: new { @class = "form-control" })
                                <!--<label class="control-label" id="distrIdDIV">--> <!-- District id appears here --> <!--</label>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-lg-2 col-md-3 col-sm-4">Section</label>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                @*@Html.DropDownList("ddlSection", (List<SelectListItem>)ViewBag.Sections, new { @class = "form-control" })*@
                                @Html.DropDownList("ddlSection", new SelectList(ViewBag.Sections, "Value", "Text", ViewBag.SectionId), htmlAttributes: new { @class = "form-control" })
                                <!--<select class="form-control" id="ddlSection">-->
                                <!-- Sections list populates here -->
                                <!--</select>-->
                                <!--<label class="control-label" id="secIdDIV">--> <!-- Section id appears here --> <!--</label>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix visible-sm"></div> <!-- Add clearfix (or new line break) for only the sm -->
                <div class="clearfix visible-xs"></div> <!-- Add clearfix (or new line break) for only the xs -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-lg-3 col-md-3 col-sm-4">Road Segment</label>
                            <div class="col-lg-9 col-md-9 col-sm-8">
                                @*@Html.DropDownList("ddlSegment", (List<SelectListItem>)ViewBag.Segments, new { @class = "form-control" })*@
                                @Html.DropDownList("ddlSegment", new SelectList(ViewBag.Segments, "Value", "Text", ViewBag.SegmentId), htmlAttributes: new { @class = "form-control" })
                                <!--<select class="form-control" id="ddlSegment">-->
                                <!-- Segments list populates here -->
                                <!--</select>-->
                                <!--<label class="control-label" id="segIdDIV">--> <!-- Segment id appears here --> <!--</label>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-lg-2 col-md-3 col-sm-4">Bridge</label>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                @*@Html.DropDownList("ddlBridge", (List<SelectListItem>)ViewBag.Bridges, new { @class = "form-control" })*@
                                @Html.DropDownList("ddlBridge", new SelectList(ViewBag.Bridges, "Value", "Text", TempData["BridgeId"]), htmlAttributes: new { @class = "form-control" })
                                <!--<select class="form-control" id="ddlBridge">-->
                                <!-- Bridges list populates here -->
                                <!--</select>-->
                                <!--<label class="control-label" id="brgIdDIV">--> <!-- Bridge id appears here --> <!--</label>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Tab Buttons -->
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#_GeneralInfoTab" role="tab" data-toggle="tab">General Information</a>
    </li>
    <li>
        <a href="#_SuperStructureTab" role="tab" data-toggle="tab">Super Structures</a>
    </li>
    <li>
        <a href="#_AbutmentTab" role="tab" data-toggle="tab">Abutments & Foundations</a>
    </li>
    <li>
        <a href="#_PierTab" role="tab" data-toggle="tab">Piers & Foundations</a>
    </li>
    <li>
        <a href="#_AncillaryTab" role="tab" data-toggle="tab">Ancillaries</a>
    </li>
    <li>
        <a href="#_BridgeDocTab" role="tab" data-toggle="tab">CAD, LR study & Docs</a>
    </li>
    <li>
        <a href="#_BridgeMediaTab" role="tab" data-toggle="tab">Media Files</a>
    </li>
    <li>
        <div class="col-xs-2 navbar-right">
            <a class="btn btn-primary" data-toggle="tooltip" title="Refresh" id="refresh"> <span class="glyphicon glyphicon-refresh"></span> </a>
        </div>
    </li>
</ul>

<!-- Tab Content Containers -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="_GeneralInfoTab">
        <div id="generalInfo">
            <!-- Bridges General Info Edit controls display here -->
            <!-- If index is opened with some bridge id value, populate the general info -->
            @if (Model != null)
            { 
                if (Model.GenInfo == null)
                {
                    @Html.Partial("GeneralInfoNew", Model.GenInfo, new ViewDataDictionary());
                }
                else
                {
                    @Html.Partial("GeneralInfo", Model.GenInfo);
                }
            }
        </div>
    </div>
    <div class="tab-pane fade" id="_SuperStructureTab">
        <div id="superStructure">
            <!-- Super Structure displays here -->
            @if (Model != null)
            {
                if (Model.SuperStr == null)
                {
                    @Html.Partial("SuperStructureNew", Model.SuperStr, new ViewDataDictionary());
                }
                else
                {
                    @Html.Partial("SuperStructure", Model.SuperStr);
                }
            }
        </div>
    </div>
    <div class="tab-pane fade" id="_AbutmentTab">
        <div id="abutment">
            <!-- Abutment displays here -->
            @if (Model != null)
            {
                if (Model.Abutment == null)
                {
                    @Html.Partial("AbutmentNew", Model.Abutment, new ViewDataDictionary());
                }
                else
                {
                    @Html.Partial("Abutment", Model.Abutment);
                }
            }
         </div>
    </div>
    <div class="tab-pane fade" id="_PierTab">
        <div id="pier">
            <!-- Pier and Foundation displays here -->
            @if (Model != null)
            {
                @Html.Partial("Pier", Model.Piers);
            }
        </div>
    </div>
    <div class="tab-pane fade" id="_AncillaryTab">
        <div id="ancillary">
            <!-- Ancillaries display here -->
            @if (Model != null)
            {
                if (Model.Ancillaries == null)
                {
                    @Html.Partial("AncillaryNew", Model.Ancillaries, new ViewDataDictionary());
                }
                else
                {
                    @Html.Partial("Ancillary", Model.Ancillaries);
                }
            }
        </div>
    </div>
    <div class="tab-pane fade" id="_BridgeDocTab">
        <div id="bridgeDoc">
            <!-- Bridge Docs display here -->
            @if (Model != null)
            {
                @Html.Partial("BridgeDoc", Model.BridgeDoc);
            }
        </div>
    </div>
    <div class="tab-pane fade" id="_BridgeMediaTab">
        <div id="bridgeMedia">
            <!-- Bridge Medias display here -->
            @if (Model != null)
            {
                @Html.Partial("BridgeMedia", Model.BridgeMedia);
            }
        </div>
    </div>
</div>

<div id="wait" align="center" style="display: none">
    <img src="~/images/ajax-loader-big.gif" />
</div>

<script>
    $(document).ready(function () {
        function ClearAll() {
            $('#generalInfo').empty(); // clear the general info tab
            $('#superStructure').empty(); // clear the super structure tab
            $('#abutment').empty(); // clear the abutment tab
            $('#pier').empty(); // clear the pier tab
            $('#ancillary').empty(); // clear the ancillary tab
            $('#bridgeHistory').empty(); // clear the bridge history tab
            $('#bridgeDoc').empty(); // clear the bridge doc tab
            $('#bridgeMedia').empty(); // clear the bridge media tab
            //$('#bridgeImage').empty(); // clear the bridge image tab
            //$('#bridgeVideo').empty(); // clear the bridge video tab
            //$('#bridgeDrawing').empty(); // clear the bridge drawing Info tab
        }

        $('#ddlDistrict').change(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            $('#ddlSection option').remove(); //empty the section dropdown list
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#ddlBridge option').remove(); //empty the bridge dropdown list
            ClearAll();
            if (selDistrictId != "0") //if some district is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetSections", "LocationsDDL")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Section --</option>';
                        $.each(data, function (i, section) {
                            markup += '<option value="' + section.Value + '">' + section.Text + '</option>'
                            $('#ddlSection').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSection').change(function () {
            var selSectionId = $('#ddlSection option:selected').val();
            $('#ddlSegment option').remove(); //empty the segment dropdown list
            $('#ddlBridge option').remove(); //empty the bridge dropdown list
            ClearAll();

            if (selSectionId != "0") //if some section is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetSegments", "LocationsDDL")',
                    data: { sectionid: selSectionId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Segment --</option>';
                        $.each(data, function (i, segment) {
                            markup += '<option value="' + segment.Value + '">' + segment.Text + '</option>'
                            $('#ddlSegment').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlSegment').change(function () {
            var selSegmentId = $('#ddlSegment option:selected').val();
            $('#ddlBridge option').remove(); //empty the bridge dropdown list
            ClearAll();

            if (selSegmentId != "0") //if some segment is selected
            {
                $.ajax({
                    url: '@Url.Action("_GetBridges", "LocationsDDL")',
                    data: { segmentid: selSegmentId },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var markup = '<option value="0" id="noselect"> --Select Bridge --</option>';
                        $.each(data, function (i, bridge) {
                            markup += '<option value="' + bridge.Value + '">' + bridge.Text + '</option>'
                            $('#ddlBridge').html(markup);
                        });
                    }
                });
            }
        });

        $('#ddlBridge').change(function () {
            var selBridgeId = $('#ddlBridge option:selected').val();
            ClearAll();

            if (selBridgeId != "0") //if some bridge is selected
            {
                //var bridgeNo = $('#ddlBridge option:selected').text().split('[').pop().split(']')[0]; // extract the bridge no

                $.ajax({
                    url: '@Url.Action("GeneralInfo", "BridgeInventory")',
                    data: { bridgeid: selBridgeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#generalInfo').html(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("SuperStructure", "BridgeInventory")',
                    data: { bridgeid: selBridgeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#superStructure').html(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("Abutment", "BridgeInventory")',
                    data: { bridgeid: selBridgeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#abutment').html(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("Pier", "BridgeInventory")',
                    data: { bridgeid: selBridgeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#pier').html(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("Ancillary", "BridgeInventory")',
                    data: { bridgeid: selBridgeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#ancillary').html(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("BridgeDoc", "BridgeInventory")',
                    data: { bridgeid: selBridgeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#bridgeDoc').html(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("BridgeMedia", "BridgeInventory")',
                    data: { bridgeid: selBridgeId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#bridgeMedia').html(data);
                    }
                });
            }
        });

        $('#refresh').click(function () {
            $('#ddlBridge').trigger('change');
        });
    });

</script>
