@model ERA_BCMS.Models.SuperStructure

@{
    ViewBag.Title = "SuperStructure";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoOfSpan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfSpan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpanLengthComposition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpanLengthComposition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSpanLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSpanLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarriageWayWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarriageWayWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SideWalkWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideWalkWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfLane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfLane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlabThickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlabThickness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfGirder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfGirder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GirderDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GirderDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpacingGirder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpacingGirder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bridge.BridgeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bridge.BridgeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeType.BridgeTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeType.BridgeTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeckSlabType.DeckSlabTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckSlabType.DeckSlabTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpanSupportType.SpanSupportTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpanSupportType.SpanSupportTypeName)
        </dd>

    </dl>
</div>