@model IEnumerable<ERA_BMS.Models.DamageRateAndCost>

<table class="table table-striped table-condensed table-responsive display compact hover" id="tblDamageRateAndCost">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DamageRank.DamageRankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DamagePercentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitRepairCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Edit</th><th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="hidden" id="damageWeightId" value="@item.Id" />  <!-- Unique Id of Damage Rate and Cost -->
                </td>
                <td style="width: 50px" class="DamageRankName">
                    @item.DamageRank.DamageRankName
                </td>
                <td style="width: 50px" class="Unit">
                    <span>@item.Unit</span>
                    <input type="text" value="@item.Unit" style="display:none" size="3" />
                </td>
                <td style="width: 50px" class="DamagePercentValue">
                    <span>@item.DamagePercentValue</span>
                    <input type="text" value="@item.DamagePercentValue" style="display:none" size="3" />
                </td>
                <td style="width: 50px" class="UnitRepairCost">
                    <span>@item.UnitRepairCost</span>
                    <input type="text" value="@item.UnitRepairCost" style="display:none" size="5" />
                </td>
                <td style="width: 700px" class="Description">
                    <span>@item.Description</span>
                    <textarea type="text" id="@item.Id" rows="3" cols="500" style="display:none; width:100%; max-width:100%">@item.Description</textarea>
                </td>
                <td>
                    <a class="Edit glyphicon glyphicon-edit" href="javascript:;" data-toggle="tooltip" title="Edit"></a>
                    <a class="Update glyphicon glyphicon-ok" href="javascript:;" style="display:none" data-toggle="tooltip" title="Update"></a>
                </td>
                <td>
                    <a class="Cancel glyphicon glyphicon-remove" href="javascript:;" style="display:none" data-toggle="tooltip" title="Cancel"></a>
                </td>
            </tr>
        }

</table>
<div class="panel-footer">
    <h3 class="panel-title">No. of Rank Items: <b>@Model.Count()</b> </h3>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Edit event handler.
        $("body").on("click", "#tblDamageRateAndCost .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
                if ($(this).find("textarea").length > 0) {
                    $(this).find("textarea").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#tblDamageRateAndCost .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
                if ($(this).find("textarea").length > 0) {
                    var span = $(this).find("span");
                    var textarea = $(this).find("textarea");
                    span.html(textarea.val());
                    span.show();
                    textarea.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Cancel").hide();
            $(this).hide();

            var dmgRateAndCost = {};
            dmgRateAndCost.Id = row.find('input[type=hidden]').val();
            dmgRateAndCost.Unit = row.find(".Unit").find("span").html();
            dmgRateAndCost.DamagePercentValue = row.find(".DamagePercentValue").find("span").html();
            dmgRateAndCost.UnitRepairCost = row.find(".UnitRepairCost").find("span").html();
            dmgRateAndCost.Description = row.find(".Description").find("span").html();

            //alert(JSON.stringify(dmgRateAndCost));

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateDamageRateAndCost", "DamageWeightAndCostRate")',
                data: '{dmgRateAndCost:' + JSON.stringify(dmgRateAndCost) + '}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'text', //'html',
                error: function (xhr) {
                    //$('#status').text(xhr.status);
                }
            });
        });

        //Cancel event handler.
        $("body").on("click", "#tblDamageRateAndCost .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
                if ($(this).find("textarea").length > 0) {
                    var span = $(this).find("span");
                    var textarea = $(this).find("textarea");
                    textarea.val(span.html());
                    span.show();
                    textarea.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Update").hide();
            $(this).hide();
        });
    });
</script>