@model IEnumerable<ERA_BMS.Models.DamageConditionRange>

@{
    ViewBag.Title = "Damage Condition Range";
}

<table class="table table-striped table-condensed table-responsive display compact hover" id="bridgedmgrange">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DamageConditionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="hidden" id="damageRangeId" value="@item.DamageConditionId" />  <!-- Unique Id of Damage Range -->
                </td>
                <td class="Condition">
                    <span>@item.DamageConditionName</span>
                    <input type="text" value="@item.DamageConditionName" style="display:none" size="5" />
                </td>
                <td class="ValueFrom">
                    <span>@item.ValueFrom</span>
                    <input type="text" value="@item.ValueFrom" style="display:none" size="3" />
                </td>
                <td class="ValueTo">
                    <span>@item.ValueTo</span>
                    <input type="text" value="@item.ValueTo" style="display:none" size="3" />
                </td>
                <td class="Action">
                    <span>@item.Action</span>
                    <input type="text" value="@item.Action" style="display:none" size="4" />
                </td>
                <td class="Remark">
                    <span>@item.Remark</span>
                    <input type="text" value="@item.Remark" style="display:none; width:100%; max-width:100%" />
                </td>
                <!--<td>-->
                    <!-- with Tooltips -->
                    <!--@Html.ActionLink(" ", "Edit", new { id = item.DamageConditionId }, new { @class = "glyphicon glyphicon-edit", @data_toggle = "tooltip", title = "Edit" })
                </td>-->
                <td>
                    <a class="Edit glyphicon glyphicon-edit" href="javascript:;" data-toggle="tooltip" title="Edit"></a>
                    <a class="Update glyphicon glyphicon-ok" href="javascript:;" style="display:none" data-toggle="tooltip" title="Update"></a>
                </td>
                <td>
                    <a class="Cancel glyphicon glyphicon-remove" href="javascript:;" style="display:none" data-toggle="tooltip" title="Cancel"></a>
                </td>
            </tr>
        }

</table>
<div class="panel-footer">
    <h3 class="panel-title">No. of Damage Condition Ranges: <b>@Model.Count()</b> </h3>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //Edit event handler.
        $("body").on("click", "#bridgedmgrange .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#bridgedmgrange .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Cancel").hide();
            $(this).hide();

            var DamageConditionRange = {};
            DamageConditionRange.DamageConditionId = row.find('input[type=hidden]').val();
            DamageConditionRange.DamageConditionName = row.find(".Condition").find("span").html();
            DamageConditionRange.ValueFrom = row.find(".ValueFrom").find("span").html();
            DamageConditionRange.ValueTo = row.find(".ValueTo").find("span").html();
            DamageConditionRange.Action = row.find(".Action").find("span").html();
            DamageConditionRange.Remark = row.find(".Remark").find("span").html();

            //alert(JSON.stringify(DamageConditionRange));

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateDamageConditionRange", "DamageWeightAndCostRate")',
                data: '{damageConditionRange:' + JSON.stringify(DamageConditionRange) + '}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'text', //'html',
                error: function (xhr) {
                    //$('#status').text(xhr.status);
                }
            });
        });

        //Cancel event handler.
        $("body").on("click", "#bridgedmgrange .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
                if ($(this).find("textarea").length > 0) {
                    var span = $(this).find("span");
                    var textarea = $(this).find("textarea");
                    textarea.html(span.html());
                    span.show();
                    textarea.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Update").hide();
            $(this).hide();
        });
    });
</script>