@model ERA_BMS.Models.FoundationType

@{
    ViewBag.Title = "Foundation Type Details";
}

<h2>Details</h2>

<div>
    <h4>Foundation Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoundationTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundationTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.FoundationTypeId })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Go to List</a>
</p>
