@model IEnumerable<ERA_BMS.Models.CulvertMedia>

@{
    ViewBag.Title = "Culvert Media";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "culvertMediaForm", enctype = "multipart/form-data" }))
{

    <input type="hidden" id="culvertId" value="@TempData["CulvertId"]" />
     <!-- Culvert Id -->
    <table class="table table-striped table-condensed table-responsive table-bordered" id="tblCulvertMedia">
        <tr>
            <th></th>
            <th>Media Type Id</th>
            <th>Media Date</th>
            <th>Description</th>
            <th>Media File Path</th>
            <th>Preview</th>
            <th></th>
            <th></th>
        </tr>
        @{ int imgIndex = 0;}
        @foreach (var culvertMedia in Model)
        {
            <tr>
                <td class="Id">
                    <input type="hidden" id="Id" value="@culvertMedia.Id" /> <!-- Unique Identity (key) -->
                </td>
                <td class="MediaTypeId">
                    <span>@culvertMedia.MediaType.MediaTypeName</span>
                    @Html.DropDownList("ddlMediaTypeId", new SelectList((List<SelectListItem>)TempData["MediaTypes"], "Value", "Text", @culvertMedia.MediaTypeId), new { @class = "form-control FoundationTypeId", style = "display: none" })
                </td>
                <td class="MediaDate">
                    @{ if (@culvertMedia.MediaDate != null)
                        {
                            <span>@culvertMedia.MediaDate.Value.ToString("dd/MM/yyyy")</span>
                        }
                        else
                        {
                            <span></span>
                        }
                    }
                </td>
                <td class="MediaDescription">
                    <span>@culvertMedia.Description</span>
                    <input type="text" value="@culvertMedia.Description" style="display:none" />
                </td>
                <td class="MediaFilePath">
                    <span>@culvertMedia.MediaFilePath</span>
                    <input type="file" value="@culvertMedia.MediaFilePath" accept="image/*, video/*" style="display:none" />
                </td>
                <td class="MediaPreview">
                    @{
                        // Show preview only if it is bridge image or damage image
                        if (culvertMedia.MediaTypeId == 1 || culvertMedia.MediaTypeId == 6) // image
                        {
                            <span>
                                <a href="@Url.Action("CulvertAllImages", "ImageGallery", new { id = culvertMedia.CulvertId, val = imgIndex })" target="_blank">
                                
                                    @* If image is missing on the server, show error icon and tooltip *@
                                    <img src="@culvertMedia.MediaFilePath" onerror="this.onerror = null; this.src = '../../images/error_2.png'; this.style.width = '30px'; this.title = 'Image Not Found';" alt="not-found" style="height:auto; width: 50px; margin: 5px;"  data-toggle="tooltip" title="Preview Photo"/>
                                </a>
                                <input type="hidden" id="Index" value="@imgIndex" /> <!-- Zero based Index value of culvert images -->
                            </span>
                            imgIndex++;
                        }
                        else if (culvertMedia.MediaTypeId == 2 || culvertMedia.MediaTypeId == 7) // Video
                        {
                            <span>
                                <a href="@culvertMedia.MediaFilePath" target="_blank">
                                    <img src="~/images/video_1.png" alt="nopic" style="height:auto; width: 40px; margin: 5px;" data-toggle="tooltip" title="Play Video" />
                                </a>
                            </span>
                        }
                    }
                </td>
                <td>
                    <a class="Edit glyphicon glyphicon-edit" href="javascript:;" data-toggle="tooltip" title="Edit"></a>
                    <a class="Update glyphicon glyphicon-ok" href="javascript:;" style="display:none" data-toggle="tooltip" title="Update"></a>
                    <a class="Confirm glyphicon glyphicon-ok" href="javascript:;" style="display:none" data-toggle="tooltip" title="Confirm"></a>
                </td>
                <td>
                    <a class="Cancel glyphicon glyphicon-remove" href="javascript:;" style="display:none" data-toggle="tooltip" title="Cancel"></a>
                    <a class="Delete glyphicon glyphicon-trash" href="javascript:;" data-toggle="tooltip" title="Delete"></a>
                </td>
            </tr>
        }
    </table>

    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                <div class="form-group form-group-sm">
                    <label for="txtMediaDate" class="col-md-10 col-sm-10 col-xs-10">Media Type</label>
                    @*@Html.DropDownList("ddlNewMediaTypeId", (List<SelectListItem>)ViewBag.MediaTypes, new { @class = "col-md-10 col-sm-10 col-xs-10" })*@
                    @Html.DropDownList("ddlNewMediaTypeId", (List<SelectListItem>)TempData["MediaTypes"], htmlAttributes: new { @class = "col-md-10 col-sm-10 col-xs-10" })
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                <div class="form-group form-group-sm">
                    <label for="txtMediaDate" class="col-md-10 col-sm-10 col-xs-10">Media Date</label>
                    <input type="date" class="col-md-10 col-sm-10 col-xs-10" id="txtMediaDate" />
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-9">
                <div class="form-group form-group-sm">
                    <label for="txtMediaDescription" class="col-md-10 col-sm-10 col-xs-10">Media Description</label>
                    <input type="text" class="col-md-10 col-sm-12 col-xs-11" id="txtMediaDescription" name="txtMediaDescription" style="max-width:100% " />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-8">
                <div class="form-group form-group-sm">
                    <label for="txtNewMediaFilePath" class="col-md-12 col-sm-10">Enter Culvert Image/Video/Drawing File</label>
                    <input type="file" class="col-md-12 col-sm-10" id="txtNewMediaFilePath" accept="image/*, video/*, .dwg" />
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 col-xs-4">
                <div class="form-group form-group-sm">
                    <button type="button" id="btnAddCulvertMedia" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
                    <div id="uploadprogress" align="center" style="display: none">
                        <img src="~/images/ajax-loader-big.gif" /> Uploading...
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div id="status"></div>*@

<script type="text/javascript">
    $(document).ready(function () {
        var emptyRow = "<td class='Id'>" +
            "<input type='hidden' id='Id' > <!-- Unique Identity (key) -->" +
            "</td>" +
            "<td class='MediaTypeId'>" +
            "<span>&nbsp;</span>" +
            "<select class='form-control FoundationTypeId' id='ddlMediaTypeId' name='ddlMediaTypeId' style='display: none'>" +
            "<option selected='selected' value='1'>Picture</option>" +
            "<option value='2'>Video</option>" +
            "<option value='3'>Autocad Drawing</option>" +
            "<option value='6'>Damage Picture</option>" +
            "<option value='7'>Damage Video</option>" +
            "</select>" +
            "</td>" +
            "<td class='MediaDate'>" +
            "<span>&nbsp;</span>" +
            "</td>" +
            "<td class='MediaDescription'>" +
            "<span>&nbsp;</span>" +
            "<input type='text' style='display:none'>" +
            "</td>" +
            "<td class='MediaFilePath'>" +
            "<span>&nbsp;</span>" +
            "<input type='file' style='display:none'>" +
            "</td>" +
            "<td class='MediaPreview'>" +
            "<span><a href='' target='_blank'><img src='' style='height:auto; width: 50px; margin: 5px;'></a></span>" +
            "</td>" +
            "<td>" +
            "<a class='Edit glyphicon glyphicon-edit' href='javascript:;' style='display:none' data-toggle='tooltip' title='Edit'></a>" +
            "<a class='Update glyphicon glyphicon-ok' href='javascript:;' style='display:none' data-toggle='tooltip' title='Update'></a>" +
            "<a class='Confirm glyphicon glyphicon-ok' href='javascript:;' style='display:none' data-toggle='tooltip' title='Confirm'></a>" +
            "</td>" +
            "<td>" +
            "<a class='Cancel glyphicon glyphicon-remove' href='javascript:;' style='display:none' data-toggle='tooltip' title='Cancel'></a>" +
            "<a class='Delete glyphicon glyphicon-trash' href='javascript:;' style='display:none' data-toggle='tooltip' title='Delete'></a>" +
            "</td>";

        addEmptyRow();

        function addEmptyRow() {
            if ($("#tblCulvertMedia tr").length == 1) {
                $("#tblCulvertMedia").append("<tr>" + emptyRow + "</tr>");

            }
        }
        var today = new Date().toJSON().slice(0, 10);
        $('#txtMediaDate').val(today);

        //Add event handler
        $("#btnAddCulvertMedia").on("click", function () {
            var CulvertId = $("#culvertId");
            var MediaTypeId = $("#ddlNewMediaTypeId option:selected");
            var MediaDate = $("#txtMediaDate");
            var MediaDescription = $("#txtMediaDescription");
            var MediaFilePath = $("#txtNewMediaFilePath");
            var mediaFileName = MediaFilePath.val().replace(/^.*[\\\/]/, '');
            var fullMediaPath = '@TempData["MediaPath"]' + mediaFileName;

            var fileUpload = $("#txtNewMediaFilePath").get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            formData.append(files[0].name, files[0]);
            //alert(CulvertId.val());

            // Add culvert media data as keys to FormData object
            formData.append('CulvertId', CulvertId.val());
            formData.append('MediaDate', MediaDate.val());
            formData.append('Description', MediaDescription.val());
            formData.append('MediaTypeId', MediaTypeId.val());
            formData.append('MediaFilePath', fullMediaPath);
            //alert('{CulvertId: "' + CulvertId.val() + '", MediaTypeId: ' + MediaTypeId.val() + ', Description: "' + MediaDescription.val() + '", MediaFilePath: "' + fullMediaPath + '", MediaDate: "' + MediaDate.val() + '" }',);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CulvertMediaInsert", "CulvertInventory")',
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                data: formData,
                beforeSend: function () { $('#uploadprogress').show(); },
                complete: function () { $('#uploadprogress').hide(); },
                success: function (data) {
                    //alert("first success");
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetLastCulvertMedia", "CulvertInventory")',
                        data: { culvertid: CulvertId.val() },
                        datatype: 'json',
                        success: function (data) {
                            //alert("Second success");
                            var row = $("#tblCulvertMedia tr:last-child");
                            if ($("#tblCulvertMedia tr:last-child span").eq(0).html() != "&nbsp;") {
                                row = row.clone();
                            }
                            var Id = data.Id;
                            //alert(row);
                            //Bind Id
                            row.find('input[type=hidden]').val(Id);

                            //Bind all rows
                            $(".MediaTypeId", row).find("span").html(MediaTypeId.text());

                            $(".MediaDate", row).find("span").html(MediaDate.val());
                            $(".MediaDate", row).find("input").val(MediaDate.val());

                            $(".MediaDescription", row).find("span").html(MediaDescription.val());
                            $(".MediaDescription", row).find("input").val(MediaDescription.val());

                            $(".MediaFilePath", row).find("span").html(fullMediaPath);

                            //var preview = "<a href='" + fullMediaPath + "' target='_blank'><img src='" + fullMediaPath + "' alt='nopic' style='height:auto; width: 50px; margin: 5px;' /></a>";
                            var preview = "";
                            if (MediaTypeId.val() == 1 || MediaTypeId.val() == 6) // image
                                preview = `<span><a href="/ImageGallery/CulvertImages/` + CulvertId.val() + `/0" target="_blank">
                                                    <img src="` + fullMediaPath + `" onerror="this.onerror = null; this.src = '../../images/error_2.png'; this.style.width = '30px'; this.title = 'Image Not Found';" alt="not-found" style="height:auto; width: 50px; margin: 5px;" data-toggle="tooltip" title="Preview Photo" />
                                                </a>
                                                <input type="hidden" id="Index" value="0" /> <!-- Zero based Index value of brige images -->
                                                </span>`;
                            else if (MediaTypeId.val() == 2 || MediaTypeId.val() == 7) // Video
                                preview = `<span><a href="` + fullMediaPath + `" target="_blank">
                                                    <img src="/images/video_1.png" alt="not-found" style="height:auto; width: 40px; margin: 5px;" data-toggle="tooltip" title="Preview Video" />
                                                </a></span>`;

                            $(".MediaPreview", row).find("span").html(preview);

                            row.find(".Edit").show();
                            row.find(".Delete").show();
                            //alert(row);

                            $("#tblCulvertMedia > tbody").append(row);

                            MediaTypeId.val(1);
                            var today = new Date().toJSON().slice(0, 10);
                            MediaDate.val(today);
                            MediaDescription.val("");
                            MediaFilePath.val("");
                        },
                        error: function (xhr) {
                            //$('#status').text(xhr.status);
                            //alert("Second error: " + xhr.status);
                        }
                    });
                },
                error: function (xhr) {
                    //$('#status').text(xhr.status);
                }
            });
        });

        //Edit event handler.
        $("body").on("click", "#tblCulvertMedia .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#tblCulvertMedia .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    //span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();

            var MediaDescription = row.find(".MediaDescription").find("input");
            var MediaFilePath = row.find(".MediaFilePath").find("input").val();
            var ImageIndex = row.find(".MediaPreview").find("input").val();
            //alert("ImageIndex " + ImageIndex);

            // If user didn't choose another file to be uploaded, keep the existing one
            var formData = new FormData();
            if (MediaFilePath == "") {
                fullMediaPath = row.find(".MediaFilePath").find("span").html();
            }
            else {
                var mediaFileName = MediaFilePath.replace(/^.*[\\\/]/, '');
                var fullMediaPath = '@TempData["MediaPath"]' + mediaFileName;
                var fileUpload = row.find(".MediaFilePath").find("input").get(0);
                var files = fileUpload.files;

                formData.append(files[0].name, files[0]);
            }

            // Add culvert media data as keys to FormData object
            formData.append('CulvertId', '@TempData["CulvertId"]');
            formData.append('Id', row.find('input[type=hidden]').val());
            formData.append('Description', MediaDescription.val());
            formData.append('MediaFilePath', fullMediaPath);
            //alert("fullMediaPath " + fullMediaPath);
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CulvertMediaUpdate", "CulvertInventory")',
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                data: formData,
                beforeSend: function () { $('#uploadprogress').show(); },
                complete: function () { $('#uploadprogress').hide(); },
                success: function (data) {
                    //Bind all rows
                    //alet("Sucess");

                },
                error: function (xhr) {
                    //$('#status').text(xhr.status);
                }
            });
            //var preview = "<a href='" + fullMediaPath + "' target='_blank'><img src='" + fullMediaPath + "' alt='nopic' style='height:auto; width: 50px; margin: 5px;' /></a>";
           var preview = "";

            if (fullMediaPath.toLowerCase().endsWith("jpg") || fullMediaPath.toLowerCase().endsWith("png")) // image
                preview = `<span><a href="/ImageGallery/CulvertImages/` + '@TempData["CulvertId"]' + `/` + ImageIndex + `" target="_blank">
                                    <img src="` + fullMediaPath + `" onerror="this.onerror = null; this.src = '../../images/error_2.png'; this.style.width = '30px'; this.title = 'Image Not Found';" alt="not-found" style="height:auto; width: 50px; margin: 5px;" data-toggle="tooltip" title="Preview Photo" />
                                </a>
                                <input type="hidden" id="Index" value="` + ImageIndex + `" /> <!-- Zero based Index value of brige images -->
                            </span>`;
            else if (fullMediaPath.toLowerCase().endsWith("mpg") || fullMediaPath.toLowerCase().endsWith("wmv") || fullMediaPath.toLowerCase().endsWith("mp4")) // Video
                preview = `<span><a href="` + fullMediaPath + `" target="_blank">
                                <img src="/images/video_1.png" alt="not-found" style="height:auto; width: 40px; margin: 5px;" data-toggle="tooltip" title="Preview Video" />
                            </a>
                            </span>`;
            //alert(preview);
            $(".MediaPreview", row).find("span").html(preview);

            $(".MediaDescription", row).find("span").html(MediaDescription.val());
            $(".MediaDescription", row).find("input").val(MediaDescription.val());

            $(".MediaFilePath", row).find("span").html(fullMediaPath);
        });

        //Cancel event handler.
        $("body").on("click", "#tblCulvertMedia .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    //input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            row.find(".Confirm").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("body").on("click", "#tblCulvertMedia .Delete", function () {
            var row = $(this).closest("tr");
            row.find(".Edit").hide();
            row.find(".Confirm").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Confirm event handler.
        $("body").on("click", "#tblCulvertMedia .Confirm", function () {
            var row = $(this).closest("tr");
            var id = row.find('input[type=hidden]').val();
            //alert(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action("CulvertMediaDelete", "Culvertinventory")',
                data: '{id: "' + id + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    if ($("#tblCulvertMedia tr").length > 2) {
                        row.remove();

                    } else {
                        row.find(".Edit").hide();
                        row.find(".Delete").hide();
                        row.find(".Confirm").hide();
                        row.find(".Cancel").hide();
                        row.find("span").html('&nbsp;');
                    }
                },
                error: function (xhr) {
                    //$('#status').text(xhr.status);
                }
            });
        });
    });
</script>
