@model IEnumerable<ERA_BMS.Models.Bridge>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title panel-info">District: <b>@ViewBag.District</b>, Section: <b>@ViewBag.Section</b>, Segment: <b>@ViewBag.Segment</b></h3>
    </div>
    
    <div class="panel-body">
         <br />
         <br />
        <table class="table table-striped table-condensed table-responsive display compact hover" id="bridges">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SubRoute.SubRouteName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BridgeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BridgeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KMFromAddis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BridgeGeneralInfo.BridgeLength)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SuperStructure.BridgeType.BridgeTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SuperStructure.SpanSupportType.SpanSupportTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BridgeGeneralInfo.ConstructionYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BridgeGeneralInfo.Designer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BridgeGeneralInfo.Contractor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BridgeGeneralInfo.OriginalCost)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubRoute.SubRouteName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BridgeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BridgeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KMFromAddis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BridgeGeneralInfo.BridgeLength)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SuperStructure.BridgeType.BridgeTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SuperStructure.SpanSupportType.SpanSupportTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BridgeGeneralInfo.ConstructionYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BridgeGeneralInfo.Designer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BridgeGeneralInfo.Contractor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BridgeGeneralInfo.OriginalCost)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <h3 class="panel-title">Total No. of Bridges: <strong>@Model.Count()</strong></h3>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#bridges').dataTable({
            paging: true,
            pageLength: 15,
            bLengthChange: true,
            scrollY: 400,
            searching: true,
            select: true,
            dom: 'lBfrtip',
            //buttons: ['copy', 'excel', 'pdf', 'print']
            buttons: [
                { extend: 'copy', className: 'btn btn-sm btn-primary' },
                { extend: 'excel', className: 'btn btn-sm btn-primary', text: 'Export Excel' },
                { extend: 'pdf', className: 'btn btn-sm btn-primary', text: 'Export PDF' },
                { extend: 'print', className: 'btn btn-sm btn-primary' }
            ]
        });
    });
</script>

