@model IEnumerable<ERA_BMS.ViewModels.BridgeDistrictViewModel>

@{
    ViewBag.Title = "Bridge Count By District";
}

<h2>Bridge Count By District</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title panel-info">Bridge Count By District</h3>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-responsive display compact hover" id="bridgescountbydistrict">
            <thead>
                <tr>
                    <th>District Id</th>
                    <th>District Name</th>
                    <th>No. of Bridges</th>
                </tr>
            </thead>
            <tbody>
                @{int totalCount = 0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Districts.DistrictId</td>
                        <td>@item.Districts.DistrictName</td>
                        <td>@item.BridgeCount</td>
                    </tr>
                    totalCount += item.BridgeCount;
                 }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <h3 class="panel-title">No. of Districts: <b>@Model.Count()</b> | No. of Bridges: <b>@totalCount</b></h3>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#bridgescountbydistrict').dataTable({
            paging: true,
            pageLength: 15,
            bLengthChange: true,
            scrollY: 400,
            
            searching: true,
            select: true,
            dom: 'lBfrtip',
            //buttons: ['copy', 'excel', 'pdf', 'print']
            buttons: [
                { extend: 'copy', className: 'btn btn-sm btn-primary' },
                { extend: 'excel', className: 'btn btn-sm btn-primary', text: 'Export Excel' },
                { extend: 'pdf', className: 'btn btn-sm btn-primary', text: 'Export PDF' },
                { extend: 'print', className: 'btn btn-sm btn-primary' }
            ]
        }).columnFilter({
            "aoColumns": [
                { "type": "number-range" },
                { "type": "text" },
                { "type": "select" },
                { "type": "date-range" }
            ]
        });
    });
</script>
