@model ERA_BMS.Models.GirderType

@{
    ViewBag.Title = "Girder Type Details";
}

<h2>Girder Type</h2>

<div>
    <h4>Datails @*(@Model.GirderTypeId )*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GirderTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GirderTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GirderTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GirderTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.GirderTypeId })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Go to List</a>
</p>
