@model ERA_BCMS.Models.SurfaceType

@{
    ViewBag.Title = "Surface Type Details";
}

<h2>Details</h2>

<div>
    <h4>Surface Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurfaceTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfaceTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurfaceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfaceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SurfaceTypeId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
